@page
@model WCSTrainer.Pages.Skills.DetailsModel

@{
   ViewData["Title"] = "Details";
}

<div class="panel">
   <div class="body">
      <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Employee #@Html.DisplayFor(model => model.Skill.Id)</p>
            <div class="field-container">
               <div class="text-group">
                  <p class="title">Name</p>
                  <p class="info">@Html.DisplayFor(model => model.Skill.Name)</p>
               </div>
               <div class="text-group">
                  <p class="title">Description</p>
                  <p class="info">@Html.DisplayFor(model => model.Skill.Description)</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
