@page
@model WCSTrainer.Pages.Skills.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="list-container">
            <div class="top">
               <form method="post" id="pageSizeForm">
                  <select asp-for="MaxCount" class="drop-main" value="@Model.MaxCount" onchange="this.form.submit()">
                     <option value="10">10</option>
                     <option value="25">25</option>
                     <option value="50">50</option>
                  </select>
               </form>
            </div>
            <partial name="_ListDisplay" model="Model.ListPartial" />
         </div>
         <script src="~/js/listdisplay.js"></script>
         <div class="tool-container">
            <div class="tools">
               <p class="title">Options:</p>
               <div class="search">
                  <input class="search-box" id="searchInput" placeholder="Search Skills" type="search" oninput="update(this)" />
               </div>
               <div class="categories">

                  <form id="createCategory">
                     <div asp-validation-summary="All" class="text-danger"></div>
                     <span asp-validation-for="@Model.CategoryName" class="text-danger"></span>
                     <input type="text" asp-for="@Model.CategoryName"/>
                     <button type="submit" class="btn bg-btn btnWhite">Add Category</button>
                  </form>

                  @foreach(var category in Model.SkillCategories) {
                     <input type="checkbox" checked name="test"/>
                  }
               </div>
               <div class="btns">
                  <a asp-page="Create" class="btn nbg-btn btnMenu">Create Skill</a>
                  <a asp-page="DetailView" class="btn nbg-btn btnMenu">Detailed View</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>