@page
@model WCSTrainer.Pages.TrainerGroups.CreateModel

@using Microsoft.AspNetCore.Identity;
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

<div id="people-component" class="people-component hidden">
   <partial name="_People" model="Model.Employees" />
</div>
<div class="overlay hidden" onclick="closeComponent()"></div>

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Create New Trainer Group</p>
            <p class="description">Fill out each required field.</p>
            @if (SignInManager.IsSignedIn(User)) {
               var user = await UserManager.GetUserAsync(User);
               if (user != null) {
                  <div class="field-container">
                     <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                           <div class="form">
                              <div class="labels">
                                 <p class="control-label">Name</p>
                                 <span asp-validation-for="TrainerGroup.Name" class="text-danger"></span>
                              </div>
                              <input asp-for="TrainerGroup.Name" class="form-control" />
                           </div>
                        </div>
                        <div class="form-group">
                           <div class="form">
                              <div class="labels">
                                 <span asp-validation-for="@Model.SelectedEmployeeIdString" class="text-danger"></span>
                              </div>
                              <div class="selections">
                                 <div class="btn bg-btn btnWhite" onclick="openComponent('trainer')">
                                    <p>Select Trainers</p>
                                 </div>
                                 <ul id="trainerList" class="pill-container"></ul>
                                 <input id="trainerInput" asp-for="@Model.SelectedEmployeeIdString" type="hidden" />
                              </div>
                           </div>
                        </div>
                        <div class="form-group">
                           <div class="form">
                              <div class="btn-container">
                                 <input type="submit" value="Create" class="btn bg-btn btnGreen" />
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               } else {
                  <p>User invalid.</p>
               }
            } else {
               <p>Not signed in.</p>
            }
         </div>
      </div>
   </div>
</div>

@section Scripts {
   @{
      await Html.RenderPartialAsync("_ValidationScriptsPartial");
   }
}
