@page
@model WCSTrainer.Pages.TrainerGroups.DeleteModel

@{
   ViewData["Title"] = "Delete";
}

<div class="panel">
   <div class="body">
      <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Trainer Group #@Model.TrainerGroup.Id</p>
            <div class="field-container">
               <div class="text-group">
                  <p class="title">Name</p>
                  <p class="info">@Model.TrainerGroup.Name</p>
               </div>
               <br />
               <form method="post" class="form-group">
                  <input hidden asp-for="TrainerGroup.Id" />
                  <input type="submit" value="Delete" class="btn bg-btn btnRed" />
               </form>
            </div>
         </div>
      </div>
   </div>
</div>