@page
@model WCSTrainer.Pages.TrainerGroups.DetailsModel

@{
   ViewData["Title"] = "Details";
}

<div class="panel">
   <div class="body">
      <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Employee #@Model.TrainerGroup.Id</p>
            <div class="field-container">
               <div class="text-group">
                  <p class="title">Name</p>
                  <p class="info">@Model.TrainerGroup.Name</p>
               </div>
               <div class="text-group">
                  <p class="title">Members</p>
                  @foreach (var member in Model.TrainerGroup.Trainers) {
                     <p class="info">@member.FirstName @member.LastName, </p>
                  }
               </div>
            </div>
            <div class="btn-container">
               <a class="btn bg-btn btnGreen" asp-page="./Edit" asp-route-id="@Model.TrainerGroup.Id">
                  Edit
               </a>
            </div>
         </div>
      </div>
   </div>
</div>



