@page
@model WCSTrainer.Pages.TrainerGroups.IndexModel

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="list-container">
            <div class="top">
               <form method="post" id="pageSizeForm">
                  <select asp-for="MaxCount" class="drop-main" value="@Model.MaxCount" onchange="this.form.submit()">
                     <option value="10">10</option>
                     <option value="25">25</option>
                     <option value="50">50</option>
                  </select>
               </form>
            </div>
            <partial name="_ListDisplay" model="Model.ListPartial" />
         </div>
         <script src="~/js/listdisplay.js"></script>
         <div class="tool-container">
            <div class="tools">
               <p class="title">Options:</p>
               <div class="search">
                  <input class="search-box" id="searchInput" placeholder="Search Groups" type="search" oninput="update(this, 'searchable')" />
               </div>
               <div class="btns">
                  <a asp-page="Create" class="btn btnMenu">Create Group</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


