<div class="help-navigation">
   <div class="link-list">
      <a asp-page="Home" class="btn">Home</a>
      <a asp-page="Navigation" class="btn">Navigation</a>
      <a asp-page="TrainingOrders" class="btn">Training Orders</a>
      <div class="link-list">
         <a href="" class="btn">Viewing & Planning Training Orders</a>
         <a href="" class="btn">Creating & Managing Training Orders</a>
      </div>
      <a href="" class="btn">Lessons</a>
      <a href="" class="btn">Skills</a>
   </div>
</div>