<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WCSTrainer</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WCSTrainer.styles.css" asp-append-version="true" />
</head>

<body>
    <nav>
        <div class="nav-container">
            <div class="nav-buttons">
                <ul>
                    <li class="main-title">WCS Trainer</li>
                    <li><a asp-page="/Index">Home</a></li>
                    <li><a asp-page="TrainingOrders/Index">My Panel</a></li>

                </ul>
            </div>
            <div class="nav-options">
                <a id="modeToggleBtn" class="btn bg-btn btnWhite">Light Mode</a>

            </div>
            
        </div>
        
    </nav>

    <div class="content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    const modeToggleBtn = document.getElementById('modeToggleBtn');


    modeToggleBtn.addEventListener('click', () => {
        document.body.classList.toggle('light-mode');
        if (modeToggleBtn.textContent == "Light Mode") {
            modeToggleBtn.textContent = "Dark Mode";
        } else {
            modeToggleBtn.textContent = "Light Mode";
        }
    });
</script>