<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WCSTrainer</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WCSTrainer.styles.css" asp-append-version="true" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="Home">WCS Trainer</a></li>
            <li><a asp-page="TrainingOrders/Index">Home</a></li>
            <li><a asp-page="TrainingOrders/Index">Admin Panel</a></li>
        </ul>
    </nav>
    <div class="content">
        @RenderBody()
    </div>

    <footer>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>