@model ListPartialModel
@using Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager


<div class="order-list">
   <ul>
      @foreach (var item in Model.Items) {
         <li id="@item.Description @item.Id" class="mainTheme searchable">
            <div class="info">
               <div class="title">
                  <a class="name unarchived" asp-page="./Details" asp-route-id="@item.Id">@item.Description</a>
               </div>
            </div>
         </li>
      }
   </ul>
</div>