<div class="side-bar">
   <div class="link-list">
      <button id="condenser" onclick="toggleExpand()" class="btn btnWhite bg-btn condenser">⯇⯈</button>
      <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />
   </div>
</div>

<script src="~/js/sidebar.js"></script>