@using Microsoft.AspNetCore.Http

<script src="~/js/sidebar.js"></script>

@{
   var links = new List<(string, string)> {
      ("TrainingOrders", "Training Orders"),
      ("Lessons", "Lessons"),
      ("Skills", "Skills"),
      ("TrainerGroups", "Trainer Groups"),
      ("Locations", "Locations"),
      ("Employees", "Employees"),
      ("Accounts", "User Accounts"),
   };
}

<div class="side-bar">
   <div class="link-list">
      <button id="condenser" onclick="toggleExpand()" class="btn btnWhite bg-btn condenser">⯇⯈</button>
      @foreach (var link in links) {
         var source = "/images/" + link.Item1 + ".svg";
         <a href="/@link.Item1"
            class="@(Context.Request.Path.ToString().Contains(link.Item1) ? "selected" : "") btn btnMenu">
            <img class="icon @(Context.Request.Path.ToString().Contains(link.Item1) ? "selected-img" : "")" src="@source" />
            <p class="text">@link.Item2</p>
         </a>
      }
   </div>
</div>


