@page
@model WCSTrainer.Pages.Employees.DeleteModel

@{
   ViewData["Title"] = "Delete";
}

<div class="panel">
   <div class="body">
      <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Employee #@Html.DisplayFor(model => model.Employee.Id)</p>
            <div class="field-container">
               <div class="text-group">
                  <p class="title">First Name</p>
                  <p class="info">@Html.DisplayFor(model => model.Employee.FirstName)</p>
               </div>
               <div class="text-group">
                  <p class="title">Last Name</p>
                  <p class="info">@Html.DisplayFor(model => model.)</p>
               </div>
               <br />
               <form method="post" class="form-group">
                  <input hidden asp-for="Employee.Id" />
                  <input type="submit" value="Delete" class="btn bg-btn btnRed" />
               </form>
            </div>
         </div>
      </div>
   </div>
</div>