@page
@model WCSTrainer.Pages.Accounts.AccountsModel
@{
}

<div class="panel">
    <div class="body">
        <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />
        <div class="properties">
            <div class="account-container">
            </div>
        </div>
    </div>
</div>