@page
@model WCSTrainer.Pages.AccountManager.IndexModel
@{
}

<div class="panel">
   <div class="body">
      <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />
      <div class="properties">
         <div class="flex-column">
            <div class="order-list2">
               <table id="dataTable">
                  <tr>
                     <th>Username</th>
                     <th></th>
                     <th></th>
                     <th></th>
                  </tr>
                  @foreach (var item in Model.Users) {
                     <tr class="clickable">
                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                        <td><a asp-page="./Edit" asp-route-id="@item.Id" class="btn nbg-btn btnGreen">Edit</a></td>
                        <td><a asp-page="./Details" asp-route-id="@item.Id" class="btn nbg-btn btnGreen">Details</a></td>
                        <td><a asp-page="./Delete" asp-route-id="@item.Id" class="btn nbg-btn btnGreen">Delete</a></td>
                     </tr>
                  }
               </table>
            </div>
         </div>
      </div>
   </div>
</div>