@page
@model WCSTrainer.Pages.AccountManager.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="flex-column">
            <div class="order-list2">
               <table id="dataTable">
                  <tr>
                     <th>Username</th>
                     <th>Role</th>
                     <th></th>
                  </tr>
                  @foreach (var user in Model.Users.OrderBy(u => u.UserName)) {
                     <tr class="clickable">
                        <td>@user.UserName</td>
                        <td>
                           @{
                              var isOwner = await UserManager.IsInRoleAsync(user, "owner");
                              var isAdmin = await UserManager.IsInRoleAsync(user, "admin");
                              var isUser = await UserManager.IsInRoleAsync(user, "user");

                              if (isOwner) { <p>Owner</p> } 
                              else if (isAdmin) { <p>Admin</p> } 
                              else if (isUser) { <p>User</p> } 
                              else { <p>Guest</p> }
                           }
                        </td>
                        <td>
                           <a asp-page="./Details" asp-route-id="@user.Id" class="btn nbg-btn btnWhite">View</a>
                        </td>
                     </tr>
                  }
               </table>
            </div>
         </div>
      </div>
   </div>
</div>