@page
@model WCSTrainer.Pages.Lessons.CreateModel
<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Create New Lesson</p>
            <p class="description">Fill out each required field.</p>
            <div class="field-container">
               <form method="post" enctype="multipart/form-data">
                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="form-group">
                     <div class="form">
                        <div class="labels">
                           <label asp-for="Lesson.Name" class="control-label">Lesson Name</label>
                           <span asp-validation-for="Lesson.Name" class="text-danger"></span>
                        </div>
                        <input asp-for="Lesson.Name" class="form-control" />
                     </div>
                  </div>

                  <div class="form-group">
                     <div class="form">
                        <div class="labels">
                           <label class="control-label">Lesson Category</label>
                           <span asp-validation-for="Lesson.LessonCategoryId" class="text-danger"></span>
                        </div>
                        <select asp-for="Lesson.LessonCategoryId" class="form-drop2" asp-items="@Model.CategorySelectList"></select>
                     </div>
                     <div class="form">
                        <div class="labels">
                           <p class="control-label">Req. Training Hours</p>
                           <span asp-validation-for="Lesson.Duration" class="text-danger"></span>
                        </div>
                        <input type="text" asp-for="Lesson.Duration" class="form-control" />
                     </div>
                  </div>

                  <div class="form-group">
                     <div class="form">
                        <div class="labels">
                           <label class="control-label">Lesson Content</label>
                        </div>
                        <textarea asp-for="Lesson.Content" class="desc-content" placeholder="Type lesson description here."></textarea>
                     </div>
                  </div>

                  <p>Naming Conventions:</p>
                  <p>S:/ (Story Path) </p>
                  <p>D:/ (Document Path)</p>
                  <p>I:/ (Image Path)</p>

                  <div class="form-group">
                     <div class="btn-container">
                        <input type="submit" value="Create" class="btn bg-btn btnGreen" />
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>