@page
@model WCSTrainer.Pages.Lessons.DetailsModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

@functions {
   public string ConvertContent(Description description)
   {
      if (!string.IsNullOrEmpty(description.Content))
      {
         // If Content exists, it's text
         return $"<p>{description.Content}</p>";
      }
      else if (!string.IsNullOrEmpty(description.FilePath))
      {
         // If FilePath exists, it's an image
         var imageUrl = Url.Content($"~/images/{description.FilePath}");
         return $"<img src=\"{imageUrl}\" alt=\"image\" class=\"description-image\" />";
      }
      return string.Empty;
   }
}

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Lesson #@Model.Lesson.Id</p>
            <div class="field-container">
               <div class="title-row">
                  <p class="title">Details</p>
               </div>
               <div class="text-group">
                  <p class="title">Name</p>
                  <p class="info">@Model.Lesson.Name</p>
               </div>

               <!-- Loop through all descriptions -->
               <div class="descriptions">
                  @foreach (var description in Model.Lesson.Descriptions)
                  {
                     <div class="description-item">
                        @Html.Raw(ConvertContent(description))
                     </div>
                  }
               </div>
            </div>

            <div class="btn-container">
               <a class="btn bg-btn btnGreen" asp-page="./Edit" asp-route-id="@Model.Lesson.Id">Edit</a>
               @if (SignInManager.IsSignedIn(User))
               {
                  var user = await UserManager.GetUserAsync(User);
                  if (user != null)
                  {
                     var isOwner = await UserManager.IsInRoleAsync(user, "owner");
                     if (isOwner)
                     {
                        <a class="btn bg-btn btnRed" asp-page="./Delete" asp-route-id="@Model.Lesson.Id">Delete</a>
                     }
                  }
               }
            </div>
         </div>
      </div>
   </div>
</div>
