@page
@model WCSTrainer.Pages.Lessons.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Lesson #@Model.Lesson.Id</p>
            <div class="field-container">
               <div class="text-group">
                  <p class="title">Name</p>
                  <p class="info">@Model.Lesson.Name</p>
               </div>
               <div class="text-group">
                  <p class="title">Description</p>
                  <pre class="info">@Model.Lesson.Description</pre>
               </div>
            </div>
            <div class="btn-container">
               <a class="btn bg-btn btnGreen" asp-page="./Edit" asp-route-id="@Model.Lesson.Id">
                  Edit
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
