@page
@model WCSTrainer.Pages.Lessons.DetailsModel
@using System.Text.RegularExpressions

@functions {
   public string ConvertUrlsToLinks(string content) {
      var urlRegex = new Regex(@"(http|https)://[^\s]+");
      return urlRegex.Replace(content, "<a class=\"description-link\" href=\"$0\" target=\"_blank\">$0</a>");
   }
}


<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Lesson #@Model.Lesson.Id</p>
            <div class="field-container">
               <div class="text-group">
                  <p class="title">Name</p>
                  <p class="info">@Model.Lesson.Name</p>
               </div>
               <div class="text-group">
                  <p class="title">Description</p>
                  <div class="info">
                     <pre class="description-container">@Html.Raw(ConvertUrlsToLinks(Model.Lesson.Description))</pre>
                  </div>
               </div>
            </div>
            <div class="btn-container">
               <a class="btn bg-btn btnGreen" asp-page="./Edit" asp-route-id="@Model.Lesson.Id">
                  Edit
               </a>
            </div>
         </div>
      </div>
   </div>
</div>