@page
@model WCSTrainer.Pages.Lessons.EditModel

@using System.Text.RegularExpressions

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Lesson #@Html.DisplayFor(model => model.Lesson.Id)</p>
            <div class="field-container">
               <form method="post">
                  <div asp-validation-summary="All" class="text-danger"></div>
                  <input hidden asp-for="Lesson.Id" />
                  <div class="form-group">
                     <div class="form">
                        <div class="labels">
                           <label asp-for="Lesson.Name" class="control-label"></label>
                           <span asp-validation-for="Lesson.Name" class="text-danger"></span>
                        </div>
                        <input asp-for="Lesson.Name" class="form-control" />
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form">
                        <div class="labels">
                           <p class="control-label">Lesson Duration</p>
                           <span asp-validation-for="Lesson.Duration" class="text-danger"></span>
                        </div>
                        <input type="number" asp-for="Lesson.Duration" class="form-control" />
                     </div>
                     <div class="form">
                        <div class="labels">
                           <p class="control-label">Lesson Category</p>
                           <span asp-validation-for="Lesson.LessonCategoryId" class="text-danger"></span>
                        </div>
                        <select asp-for="Lesson.LessonCategoryId" class="form-drop2" asp-items="@Model.CategorySelectList"></select>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form">
                        <div class="labels">
                           <p class="control-label">Lesson Content</p>
                           <span asp-validation-for="Lesson.Content" class="text-danger"></span>
                        </div>
                        @if (!string.IsNullOrWhiteSpace(Model.Lesson.Content)) {
                           <div id="editor-container" data-tiny-editor data-bold="yes" data-formatblock="no" data-italic="yes" data-underline="yes" data-fontname="no"
                                data-forecolor="yes" data-justifyleft="no" data-justifycenter="no" data-justifyright="no" data-insertorderedlist="no"
                                data-insertunorderedlist="no" data-outdent="yes" data-indent="yes" data-remove-format="yes"
                                data-autofocus="yes">@Html.Raw(Model.Lesson.Content)</div>
                        } else {
                           <div id="editor-container" data-tiny-editor data-bold="yes" data-formatblock="no" data-italic="yes" data-underline="yes" data-fontname="no"
                                data-forecolor="yes" data-justifyleft="no" data-justifycenter="no" data-justifyright="no" data-insertorderedlist="no"
                                data-insertunorderedlist="no" data-outdent="yes" data-indent="yes" data-remove-format="yes"
                                data-autofocus="yes"></div>
                        }
                        <input type="hidden" asp-for="Lesson.Content" id="LessonContent" />
                     </div>
                  </div>
                  <div class="form-group">
                     <input type="submit" value="Save" class="btn bg-btn btnGreen" />
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<script src="~/js/description.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/dist/bundle.js"></script>
<link rel="stylesheet" href="~/css/editor.css" asp-append-version="true" />

<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous">

<script>
   const editorContainer = document.querySelector('#editor-container');
   const lessonContentInput = document.querySelector('#LessonContent');

   editorContainer.addEventListener('input', function () {
      lessonContentInput.value = editorContainer.innerHTML;
   });

   document.querySelector('form').addEventListener('submit', function () {
      lessonContentInput.value = editorContainer.innerHTML;
   });
</script>
