@page
@model WCSTrainer.Pages.FileManager.IndexModel
<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <ul class="file-explorer">
            @foreach (var file in Model.VideoFiles)
            {
               <li>@file</li>
            }
         </ul>
      </div>
   </div>
</div>