@page
@model WCSTrainer.Pages.TrainingOrders.ApprovalModel
@{
    ViewData["Title"] = "Approval";
}

<div class="panel">
    <div class="body">
        <div class="side-bar">
            <ul>
                <a href="">Statistics</a>
                <a asp-page="./Index">Training Orders</a>
                <a asp-page="./Index">Manage Employees</a>
                <a href="">Account Settings</a>
            </ul>
        </div>
        <div class="properties">
            <div class="user-form">
                <p class="title">Approve Training Order #@Html.DisplayFor(model => model.TrainingOrder.Id)</p>
                <div class="field-container">
                    <form method="post">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="TrainingOrder.Id" />

                        <input asp-for="TrainingOrder.status" type="hidden" value="Active" />
                        <input asp-for="TrainingOrder.description" type="hidden" />
                        <input asp-for="TrainingOrder.createDate" type="hidden" />
                        <input asp-for="TrainingOrder.duration" type="hidden"  />
                        <input asp-for="TrainingOrder.location" type="hidden" />
                        <input asp-for="TrainingOrder.trainee" type="hidden" />
                        <input asp-for="TrainingOrder.medium" type="hidden" />
                        <input asp-for="TrainingOrder.skill" type="hidden" />

                        <div class="form-group">

                            <div class="labels">
                                <p class="control-label">Trainers</p>
                                <p id="trainerDanger" class="text-danger" style="display: none;">Please select at least one trainer.</p>
                            </div>
                            <div class="selections">
                                <ul id="trainerList">
                                </ul>
                            </div>
                            <div class="selectors">
                                <div class="selector">
                                    <div class="btn btnWhite" id="indiButton"><p>Individual</p></div>
                                    <div class="form-drop" id="individual">
                                        <ul id="indiList">
                                            @foreach (Models.Employee employee in Model.Employees) {
                                                if (employee.Status.Equals("Trainer")) {
                                                    <li>@employee.FirstName @employee.LastName</li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="selector">
                                    <div class="btn btnWhite" id="groupButton"><p>Groups</p></div>
                                    <div class="form-drop" id="groups">
                                        <ul id="groupList">
                                            <li>HR</li>
                                            <li>Shipping</li>
                                            <li>Sales</li>
                                            <li>Engineering</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <input id="trainersInput" asp-for="TrainingOrder.trainers" type="hidden" />
                        </div>

                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Begin Date*</p>
                                <span asp-validation-for="TrainingOrder.beginDate" class="text-danger"></span>
                            </div>
                            <input type="date" asp-for="TrainingOrder.beginDate" class="form-control" />
                        </div>

                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">End Date*</p>
                                <span asp-validation-for="TrainingOrder.endDate" class="text-danger"></span>
                            </div>
                            <input type="date" asp-for="TrainingOrder.endDate" class="form-control" />
                        </div>

                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Priority Level*</p>
                                <span asp-validation-for="TrainingOrder.priorityLevel" class="text-danger"></span>
                            </div>
                            <select asp-for="TrainingOrder.priorityLevel" class="form-drop2">
                                <option value="3">3 - High</option>
                                <option value="2">2 - Medium</option>
                                <option value="1">1 - Low</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btnGreen" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var trainersInput = document.getElementById("trainersInput");
    var groupButton = document.getElementById("groupButton");
    var indiButton = document.getElementById("indiButton");
    var trainList = document.getElementById("trainerList");
    var groupList = document.getElementById("groupList");
    var indiList = document.getElementById("indiList");
    var trainerDanger = document.getElementById("trainerDanger");
  
    indiButton.addEventListener("click", function () {
        toggleDisplay("individual", "groups");
    });

    groupButton.addEventListener("click", function () {
        toggleDisplay("groups", "individual");
    });

    function toggleDisplay(dropdown, other) {
        var dropdownElement = document.getElementById(dropdown);
        var hideElement = document.getElementById(other);
        if (dropdownElement.style.display == "flex") {
            dropdownElement.style.display = "none";
        } else {
            dropdownElement.style.display = "flex";
        }
        hideElement.style.display = "none";
    }

    trainList.addEventListener("click", function (event) {
        if (event.target.tagName === "LI") {
            event.target.remove();
            updateTrainersInput();
        }
    });

    indiList.addEventListener("click", function (event) {
        if (event.target.tagName === "LI") {
            trainer1(event.target.textContent);
        }
    });

    groupList.addEventListener("click", function (event) {
        if (event.target.tagName === "LI") {
            trainer2(event.target.textContent);
        }
    });

    function trainer1(name) {
        if (!trainList.innerHTML.includes(name)) {
            trainList.innerHTML += "<li>" + name + "</li>";
            updateTrainersInput();
        }
        groups.selectedIndex = -1;
        individual.selectedIndex = -1;
    }

    function trainer2(name) {
        if (!trainList.innerHTML.includes(name)) {
            trainList.innerHTML += "<li>" + name + "</li>";
            updateTrainersInput();
        }
        individual.selectedIndex = -1;
        groups.selectedIndex = -1;
    }

    function updateTrainersInput() {
        var trainers = Array.from(trainList.getElementsByTagName("li")).map(function (item) {
            return item.textContent;
        });
        trainersInput.value = trainers.join(", ");
    }


    function toggleSubmitButton() {
        var submitButton = document.querySelector('input[type="submit"]');
        if (trainList.getElementsByTagName("li").length > 0) {
            submitButton.disabled = false;
        } else {
            submitButton.disabled = true;
            trainerDanger.style.display = "none";
        }
    }

    trainList.addEventListener("DOMNodeInserted", toggleSubmitButton);
    trainList.addEventListener("DOMNodeRemoved", toggleSubmitButton);

    function validateForm(event) {
        if (trainList.getElementsByTagName("li").length === 0) {
            event.preventDefault();
            trainerDanger.style.display = "block";
        }
    }

    document.querySelector('form').addEventListener("submit", validateForm);

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
