@page
@model WCSTrainer.Pages.TrainingOrders.ApprovalModel
@{
    ViewData["Title"] = "Approval";
}

<div class="panel">
    <div class="body">
        <div class="side-bar">
            <div class="ul">
                <a href=""><div class="li">Statistics</div></a>
                <a asp-page="Index"><div class="selected">Training Orders</div></a>
                <a href=""><div class="li">Manage Trainers</div></a>
                <a href=""><div class="li">Manage Trainees</div></a>
                <a href=""><div class="li">Account Settings</div></a>
            </div>
        </div>
        <div class="properties">
            <div class="user-form">
                <p class="title">Edit Training Order</p>
                <hr />
                <div class="field-container">
                    <form method="post">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="TrainingOrder.Id" />

                        <input asp-for="TrainingOrder.skill" type="hidden"/>
                        <input asp-for="TrainingOrder.trainee" type="hidden"/>
                        <input asp-for="TrainingOrder.createDate" type="hidden"/>
                        <input asp-for="TrainingOrder.location" type="hidden"/>
                        <input asp-for="TrainingOrder.medium" type="hidden"/>
                        <input asp-for="TrainingOrder.status" type="hidden" value="Active"/>
                        <input asp-for="TrainingOrder.duration" type="hidden"/>
                        <input asp-for="TrainingOrder.description" type="hidden"/>

                        <div class="form-group">

                            <div class="labels">
                                <p class="control-label">Trainers</p>
                                <span asp-validation-for="TrainingOrder.trainers" class="text-danger"></span>
                            </div>

                            <div class="selectors">
                                <a class="btn btnWhite" id="indiButton">Individual</a>
                                <a class="btn btnWhite" id="groupButton">Groups</a>
                            </div>

                            <select id="individual" style="display: none" asp-for="TrainingOrder.trainers" class="form-drop2">
                                <option value="Placeholder">Aadam</option>
                            </select>
                            <select id="groups" style="display: none" asp-for="TrainingOrder.trainers" class="form-drop2">
                                <option value="Placeholder">HR</option>
                            </select>

                        </div>

                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Begin Date*</p>
                                <span asp-validation-for="TrainingOrder.beginDate" class="text-danger"></span>
                            </div>
                            <input type="date" asp-for="TrainingOrder.beginDate" class="form-control" />
                        </div>

                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">End Date*</p>
                                <span asp-validation-for="TrainingOrder.endDate" class="text-danger"></span>
                            </div>
                            <input type="date" asp-for="TrainingOrder.endDate" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btnGreen" />
                        </div>

                    </form>
                </div>

                <a asp-page="Index">
                    <button class="btn btnBlue">Return To Menu</button>
                </a>

            </div>
        </div>
    </div>
</div>

<script>

    var indiButton = document.getElementById("indiButton");
    var groupButton = document.getElementById("groupButton");

    var individual = document.getElementById("individual");
    var groups = document.getElementById("groups");

    indiButton.addEventListener("click", function () {
        groups.style.display = "none";
        groups.selectedIndex = -1;
        individual.style.display = "block";
    });

    groupButton.addEventListener("click", function () {
        groups.style.display = "block";
        individual.style.display = "none";
        individual.selectedIndex = -1;
    });

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
