@page
@model WCSTrainer.Pages.TrainingOrders.ConcludeModel

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Conclude Training Order #@Html.DisplayFor(model => model.TrainingOrder.Id)</p>
            <div class="field-container">
               @if (Model.TrainingOrder.Status == "Active") {
                  <form method="post">
                     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                     <input hidden asp-for="TrainingOrder.Id" />

                     <input asp-for="TrainingOrder.BeginDate" hidden />
                     @{
                        var date = DateOnly.FromDateTime(DateTime.Now);
                        <input asp-for="TrainingOrder.CompletionDate" hidden value="@date" />
                     }
                     <input asp-for="TrainingOrder.CreateDate" hidden />
                     <input asp-for="TrainingOrder.ApprovalDate" hidden />
                     <input asp-for="TrainingOrder.Medium" hidden />
                     <input asp-for="TrainingOrder.Status" type="hidden" value="Completed" />
                     <input asp-for="TrainingOrder.Duration" hidden />
                     <input asp-for="TrainingOrder.Priority" hidden />
                     <input asp-for="TrainingOrder.LessonId" type="hidden" />
                     <input asp-for="TrainingOrder.TraineeId" hidden />
                     <input asp-for="TrainingOrder.LocationId" hidden />
                     <input asp-for="TrainingOrder.ParentSkillId" hidden />
                     <input asp-for="TrainingOrder.CreatedByUserId" hidden />

                     <component type="typeof(TrainingDetails)"
                                render-mode="WebAssemblyPrerendered"
                                param-OrderId="@Model.TrainingOrder.Id" />

                     <br />
                     <div class="form-group">
                        <div class="form">
                           <div class="labels">
                              <p class="control-label">Closing Notes</p>
                           </div>
                           <textarea asp-for="TrainingOrder.ClosingNotes" rows="5"></textarea>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="btn-container">
                           <input type="submit" value="Submit" class="btn bg-btn btnGreen" />
                        </div>
                     </div>
                  </form>
               } else {
                  <p>No.</p>
               }
            </div>
         </div>
      </div>
   </div>
</div>