@page
@model WCSTrainer.Pages.TrainingOrders.DeleteModel

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Trainer Group #@Model.TrainingOrder.Id</p>
            <div class="field-container">
               <div class="text-group">
                  <p class="title">Name</p>
                  <p class="info">@Model.TrainingOrder.Id</p>
               </div>
               <br />
               <form method="post" class="form-group">
                  <input hidden asp-for="TrainingOrder.Id" />
                  <input type="submit" value="Delete" class="btn bg-btn btnRed" />
               </form>
            </div>
         </div>
      </div>
   </div>
</div>