@page
@model WCSTrainer.Pages.TrainingOrders.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="panel">
    <div class="body">
        <div class="side-bar">
            <div class="ul">
                <a href=""><div class="li">Statistics</div></a>
                <a asp-page="Index"><div class="selected">Training Orders</div></a>
                <a href=""><div class="li">Manage Trainers</div></a>
                <a href=""><div class="li">Manage Trainees</div></a>
                <a href=""><div class="li">Account Settings</div></a>
            </div>
        </div>
        <div class="properties">
            <div class="user-form">
                <p class="title">Delete Training Order #@Html.DisplayFor(model => model.TrainingOrder.Id)</p>
                <p class="description">Are you sure you would like to delete this training order?</p>
                <hr/>
                <form method="post">
                    <button class="btn btnRed">Delete</button>
                </form>
                <a asp-page="./Index" class="btn btnBlue">Return To Menu</a>
            </div>
        </div>
    </div>
</div>
