@page
@model Pages.TrainingOrders.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="panel">
    <div class="body">
        <div class="side-bar">
            <div class="ul">
                <a href=""><div class="li">Statistics</div></a>
                <a asp-page="./Index"><div class="selected">Training Orders</div></a>
                <a asp-page="./Index"><div class="li">Manage Employees</div></a>
                <a href=""><div class="li">Account Settings</div></a>
            </div>
        </div>
        <div class="properties">
            <div class="user-form">
                <p class="title">Edit Training Order #@Html.DisplayFor(model => model.TrainingOrder.Id)</p>
                <hr/>
                <div class="field-container">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="TrainingOrder.Id" />
                        <input asp-for="TrainingOrder.status" type="hidden" />
                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Skill*</p>
                                <span asp-validation-for="TrainingOrder.skill" class="text-danger"></span>
                            </div>
                            <input asp-for="TrainingOrder.skill" class="form-control" />
                        </div>
                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Trainers</p> 
                                <span asp-validation-for="TrainingOrder.trainers" class="text-danger"></span>
                            </div>
                            <div class="selections">
                                <ul id="trainerList">
                                    @foreach (string trainerName in Model.TrainingOrder.trainers) {
                                        <li>@trainerName</li>
                                    }
                                </ul>
                            </div>
                            <div class="selectors">
                                <div class="selector">
                                    <div class="btn btnWhite" id="indiButton"><p>Individual</p></div>
                                    <div class="form-drop" id="individual">
                                        <ul id="indiList">
                                            @foreach (Models.Employee employee in Model.Employees) {
                                                if (employee.Status.Equals("Trainer")) {
                                                    <li>@employee.FirstName @employee.LastName</li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="selector">
                                    <div class="btn btnWhite" id="groupButton"><p>Groups</p></div>
                                    <div class="form-drop" id="groups">
                                        <ul id="groupList">
                                            <li>HR</li>
                                            <li>Shipping</li>
                                            <li>Sales</li>
                                            <li>Engineering</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <input asp-for="TrainingOrder.trainers" type="hidden"/>
                        </div>
                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Trainee*</p>
                                <span asp-validation-for="TrainingOrder.trainee" class="text-danger"></span>
                            </div>
                            <input asp-for="TrainingOrder.trainee" class="form-control" />
                        </div>
                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Begin Date*</p>
                                <span asp-validation-for="TrainingOrder.beginDate" class="text-danger"></span>
                            </div>
                            <input type="date" asp-for="TrainingOrder.beginDate" class="form-control" />
                        </div>
                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">End Date*</p>
                                <span asp-validation-for="TrainingOrder.endDate" class="text-danger"></span>
                            </div>
                            <input type="date" asp-for="TrainingOrder.endDate" class="form-control" />
                        </div>
                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Location*</p>
                                <span asp-validation-for="TrainingOrder.location" class="text-danger"></span>
                            </div>
                            <select asp-for="TrainingOrder.location" class="form-drop2">
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                <option value="4">Four</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Medium*</p>
                                <span asp-validation-for="TrainingOrder.medium" class="text-danger"></span>
                            </div>
                            <input asp-for="TrainingOrder.medium" class="form-control" />
                        </div>
                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Duration*</p>
                                <span asp-validation-for="TrainingOrder.duration" class="text-danger"></span>
                            </div>
                            <input asp-for="TrainingOrder.duration" class="form-control" />
                        </div>
                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Description</p>
                                <span asp-validation-for="TrainingOrder.description" class="text-danger"></span>
                            </div>
                            <input asp-for="TrainingOrder.description" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btnGreen" />
                        </div>
                    </form>
                </div>
                <a asp-page="Index">
                    <button class="btn btnBlue">Return To Menu</button>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    var groupButton = document.getElementById("groupButton");
    var indiButton = document.getElementById("indiButton");
    var trainList = document.getElementById("trainerList");
    var individual = document.getElementById("individual");
    var groupList = document.getElementById("groupList");
    var indiList = document.getElementById("indiList");
    var groups = document.getElementById("groups");

    indiButton.addEventListener("click", function () {
        if (individual.style.display == "flex") {
            individual.style.display = "none";
        } else {
            individual.style.display = "flex";
        }
        groups.style.display = "none";
        
    });
    groupButton.addEventListener("click", function () {
        if (groups.style.display == "flex") {
            groups.style.display = "none";
        } else {
            groups.style.display = "flex";
        }
        individual.style.display = "none";
    });
    trainList.addEventListener("click", function (event) {
        if (event.target.tagName === "LI") {
            event.target.remove();
        }
    });
    indiList.addEventListener("click", function (event) {
        if (event.target.tagName === "LI") {
            trainer1(event.target.textContent);
        }
    });
    groupList.addEventListener("click", function (event) {
        if (event.target.tagName === "LI") {
            trainer2(event.target.textContent);
        }
    });

    function trainer1(name) {
        if (!trainList.innerHTML.includes(name)) {
            trainList.innerHTML += "<li>" + name + "</li>";
        }
        groups.selectedIndex = -1;
        individual.selectedIndex = -1;
    }
    function trainer2(name) {
        if (!trainList.innerHTML.includes(name)) {
            trainList.innerHTML += "<li>" + name + "</li>";
        }
        individual.selectedIndex = -1;
        groups.selectedIndex = -1;
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
