@page
@model Pages.TrainingOrders.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="panel">
    <div class="body">
        <div class="side-bar">
            <div class="ul">
                <a href=""><div class="li">Statistics</div></a>
                <a asp-page="Index"><div class="selected">Training Orders</div></a>
                <a href=""><div class="li">Manage Trainers</div></a>
                <a href=""><div class="li">Manage Trainees</div></a>
                <a href=""><div class="li">Account Settings</div></a>
            </div>
        </div>
        <div class="properties">
            <div class="user-form">
                <p class="title">Edit Training Order</p>
                <hr/>
                <div class="field-container">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="TrainingOrder.Id" />

                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Status</p>
                                <span asp-validation-for="TrainingOrder.status" class="text-danger"></span>
                            </div>
                            <select asp-for="TrainingOrder.status" class="form-drop">
                                <option value="Awaiting Approval">Awaiting Approval</option>
                                <option value="Active">Active</option>
                                <option value="Completed">Completed</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Skill*</p>
                                <span asp-validation-for="TrainingOrder.skill" class="text-danger"></span>
                            </div>
                            <input asp-for="TrainingOrder.skill" class="form-control" />
                        </div>

                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Trainers</p> 
                                <span asp-validation-for="TrainingOrder.trainers" class="text-danger"></span>
                            </div>

                            <div class="selectors">
                                <div class="dropdown-btn" id="indiButton"><p>Individual</p></div>
                                <div class="dropdown-btn" id="groupButton"><p>Groups</p></div>
                            </div>

                            <select id="individual" style="display: none" asp-for="TrainingOrder.trainers" class="form-drop2">
                                <option value="Placeholder">Aadam</option>
                            </select>
                            <select id="groups" style="display: none" asp-for="TrainingOrder.trainers" class="form-drop2">
                                <option value="Placeholder">HR</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Trainee*</p>
                                <span asp-validation-for="TrainingOrder.trainee" class="text-danger"></span>
                            </div>
                            <input asp-for="TrainingOrder.trainee" class="form-control" />
                        </div>

                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Begin Date*</p>
                                <span asp-validation-for="TrainingOrder.beginDate" class="text-danger"></span>
                            </div>
                            <input type="date" asp-for="TrainingOrder.beginDate" class="form-control" />
                        </div>

                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">End Date*</p>
                                <span asp-validation-for="TrainingOrder.endDate" class="text-danger"></span>
                            </div>
                            <input type="date" asp-for="TrainingOrder.endDate" class="form-control" />
                        </div>

                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Location*</p>
                                <span asp-validation-for="TrainingOrder.location" class="text-danger"></span>
                            </div>
                            <input asp-for="TrainingOrder.location" class="form-control" />
                        </div>
                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Medium*</p>
                                <span asp-validation-for="TrainingOrder.medium" class="text-danger"></span>
                            </div>
                            <input asp-for="TrainingOrder.medium" class="form-control" />
                        </div>
                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Duration*</p>
                                <span asp-validation-for="TrainingOrder.duration" class="text-danger"></span>
                            </div>
                            <input asp-for="TrainingOrder.duration" class="form-control" />
                        </div>
                        <div class="form-group">
                            <div class="labels">
                                <p class="control-label">Description</p>
                                <span asp-validation-for="TrainingOrder.description" class="text-danger"></span>
                            </div>
                            <input asp-for="TrainingOrder.description" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn2" />
                        </div>

                    </form>
                </div>

                <a asp-page="Index">
                    <button class="btn btn1">Return To Menu</button>
                </a>

            </div>
        </div>
    </div>
</div>

<script>

    var indiButton = document.getElementById("indiButton");
    var groupButton = document.getElementById("groupButton");

    var individual = document.getElementById("individual");
    var groups = document.getElementById("groups");

    indiButton.addEventListener("click", function () {
        groups.style.display = "none";
        groups.selectedIndex = -1;
        individual.style.display = "block";
    });

    groupButton.addEventListener("click", function () {
        groups.style.display = "block";
        individual.style.display = "none";
        individual.selectedIndex = -1;
    });

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
