@page
@model WCSTrainer.Pages.TrainingOrders.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="list-container">
            <div class="top">
               <div class="left">
                  <select id="pageSize" class="drop-main">
                     <option value="10">10</option>
                     <option value="30">30</option>
                     <option value="60">60</option>
                     <option value="-1">Max</option>
                  </select>
               </div>
               <div class="right">
                  <button class="btn btnWhite bg-btn" id="viewToggle">
                     Simple View
                  </button>
               </div>
            </div>
            <div class="pagination-container">
               <div id="pagination" class="pagination"></div>
            </div>
            <div id="orderListContainer"></div>
         </div>
         <div class="tool-container">
            <div class="tools">
               <p class="title">Options:</p>
               <div class="search">
                  <input class="search-box" id="searchInput" placeholder="Search Training Orders" type="search" />
               </div>
               <div class="selections">
                  <p class="section-title">Show List Items:</p>
                  <div class="section">
                     <p class="section-info archived">Archived</p>
                     <input type="checkbox" id="showArchived" />
                  </div>
                  <div class="section">
                     <p class="section-info verified">Verified</p>
                     <input type="checkbox" id="showVerified" checked />
                  </div>
                  <div class="section">
                     <p class="section-info completed">Completed</p>
                     <input type="checkbox" id="showCompleted" checked />
                  </div>
                  <div class="section">
                     <p class="section-info active">Active</p>
                     <input type="checkbox" id="showActive" checked />
                  </div>
                  <div class="section">
                     <p class="section-info awaiting">Awaiting Approval</p>
                     <input type="checkbox" id="showAwaiting" checked />
                  </div>
               </div>
               <div class="btns">
                  <a asp-page="Create" class="btn btnMenu">Create Training Order</a>
                  <a asp-page="Scheduling" class="btn btnMenu">Scheduling</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script src="~/js/trainingOrderList.js"></script>