@page
@model WCSTrainer.Pages.TrainingOrders.SchedulingModel
@{
}


<div class="panel">
    <div class="body">
        <div class="side-bar">
            <ul>
                <a href="">Statistics</a>
                <a asp-page="./Index">Training Orders</a>
                <a asp-page="./Index">Manage Employees</a>
                <a href="">Account Settings</a>
            </ul>
        </div>

        <div class="properties">

        </div>
    </div>
</div>