@page
@model WCSTrainer.Pages.TrainingOrders.SchedulingModel
@{
}

@using WCSTrainer.Pages.Components


<div class="panel">
    <div class="body">
        <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />
        <div class="properties">
            <div class="scheduling">
                <div class="settings">
                    Settings
                </div>
                <div class="main-view">
                    <div class="schedule">
                        @for (int month = 1; month <= 12; month++) {
                            DateTime date = new DateTime(2024, month, 1);
                            string monthName = date.ToString("MMMM");

                            <div class="month">
                                <div class="title">
                                    <p>@monthName</p>
                                </div>
                                <div class="info">
                                    <p>Upcoming:</p>
                                    <div class="order">Order #100 - 12/13/24</div>
                                    <div class="order">Order #200 - 7/22/24</div>
                                    <div class="order">Order #300 - 3/6/24</div>
                                </div>
                                <div class="stats">
                                    <p>Total Hours: 10</p>
                                    <p>Training Orders: 5</p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="options">
                        <div class="search">
                            <p>Search</p>
                            <input type="search" />
                        </div>
                        <div class="selections">
                            <p class="title">Show in List:</p>
                            <div class="section">
                                <input type="checkbox" checked id="Verified" onchange="checkedBox(this)" />
                                <p class="info">Verified</p>
                            </div>
                            <div class="section">
                                <input type="checkbox" checked id="Active" onchange="checkedBox(this)" />
                                <p class="info">Active</p>
                            </div>
                            <div class="section">
                                <input type="checkbox" checked id="Awaiting Approval" onchange="checkedBox(this)" />
                                <p class="info">Awaiting Approval</p>
                            </div>
                        </div>
                        <div class="buttons">
                            <a asp-page="Create" class="btn nbg-btn btnWhite">Create Training Order</a>
                            <a asp-page="AllView" class="btn nbg-btn btnWhite">Planning</a>
                            <a asp-page="Scheduling" class="btn nbg-btn btnWhite">Scheduling</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>