@page
@model WCSTrainer.Pages.TrainingOrders.SchedulingModel
@{
}

@using WCSTrainer.Pages.Components


<div class="panel">
    <div class="body">
        <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />
        <div class="properties">
            <div class="scheduling">
                <div class="settings">
                    <p>Total Training Orders: @Model.countOrders()</p>
                    <p>Total Training Hours: @Model.countTotalOrderHours()</p>
                </div>
                <div class="main-view">
                    <div class="schedule">
                        @for (int month = 1; month <= 12; month++) {
                            DateTime date = new DateTime(2024, month, 1);
                            string monthName = date.ToString("MMMM");

                            <div class="month">
                                <div class="title">
                                    <p>@monthName</p>
                                </div>
                                <div class="info">
                                    <p>Preview:</p>
                                    <div class="order">Order #100 - 12/13/24</div>
                                    <div class="order">Order #300 - 3/6/24</div>
                                </div>
                                <div class="stats">
                                    <p>Total Hours: 10</p>
                                    <p>Training Orders: 5</p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="options">
                        <div class="search">
                            <p>Search</p>
                            <input type="search" />
                        </div>
                        <div class="buttons">
                            <a class="btn nbg-btn btnWhite">Button</a>
                            <a class="btn nbg-btn btnWhite">Button</a>
                            <a class="btn nbg-btn btnWhite">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>