@inject SignInManager<UserAccount> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="account-links">
    <ul>
        <li><a id="profile" asp-page="./Index">Profile</a></li>
        <li><a id="email" asp-page="./Email">Email</a></li>
        <li><a id="change-password" asp-page="./ChangePassword">Password</a></li>
    </ul>
</div>

