@page
@model WCSTrainer.Pages.Employees.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="panel">
    <div class="body">

        <div class="side-bar">
            <ul>
                <a href="">Statistics</a>
                <a asp-page="./Index" >Training Orders</a>
                <a asp-page="./Index" class="selected">Manage Employees</a>
                <a href="">Account Settings</a>
            </ul>
        </div>

        <div class="properties">
            <div class="user-form">
                <p class="title">Register New Employee</p>
                <div class="field-container">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Employee.TrainingOrders" type="hidden" value="1" />
                        <input asp-for="Employee.Availability" type="hidden" value="None" />
                        <div class="form-group">
                            <div class="form">
                                <div class="labels">
                                    <p class="control-label">First Name*</p>
                                    <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
                                </div>
                                <input asp-for="Employee.FirstName" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form">
                                <div class="labels">
                                    <p class="control-label">Last Name*</p>
                                    <span asp-validation-for="Employee.LastName" class="text-danger"></span>
                                </div>
                                <input asp-for="Employee.LastName" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form">
                                <div class="labels">
                                    <p class="control-label">Status*</p>
                                    <span asp-validation-for="Employee.Status" class="text-danger"></span>
                                </div>
                                <input asp-for="Employee.Status" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form">
                                <div class="labels">
                                    <p class="control-label">Skills*</p>
                                    <span asp-validation-for="Employee.Skills" class="text-danger"></span>
                                </div>
                                <input asp-for="Employee.Skills" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn-container">
                                <input type="submit" value="Create" class="btn bg-btn btnGreen" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
