@page
@model WCSTrainer.Pages.Reports.IndexModel

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <p class="title">Under Construction</p>
      </div>
   </div>
</div>