@page
@model WCSTrainer.Pages.Locations.DeleteCategoryModel

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Category #@Model.LocationCategory.Id</p>
            <div class="field-container">
               <div class="text-group">
                  <p class="title">Name</p>
                  <p class="info">@Model.LocationCategory.Name</p>
               </div>
               <br />
               <form method="post" class="form-group">
                  <input hidden asp-for="LocationCategory.Id" />
                  <input type="submit" value="Delete" class="btn bg-btn btnRed" />
               </form>
            </div>
         </div>
      </div>
   </div>
</div>