@page
@model WCSTrainer.Pages.Locations.DetailsModel

@{
   ViewData["Title"] = "Details";
}

<div class="panel">
   <div class="body">
      <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Location #@Model.Location.Id</p>
            <div class="field-container">
               <div class="text-group">
                  <p class="title">Name</p>
                  <p class="info">@Model.Location.Name</p>
               </div>
            </div>
            <div class="btn-container">
               <a class="btn bg-btn btnGreen" asp-page="./Edit" asp-route-id="@Model.Location.Id">
                  Edit
               </a>
            </div>
         </div>
      </div>
   </div>
</div>

