@page
@model WCSTrainer.Pages.Locations.DetailsModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager


<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Location #@Model.Location.Id</p>
            <div class="field-container">
               <div class="field-section-container">
                  <div class="field-section">
                     <div class="title-row">
                        <p class="title">Details</p>
                     </div>
                     <table>
                        <tbody>
                           <tr>
                              <td class="label">Name</td>
                              <td class="text">@Model.Location.Name</td>
                           </tr>
                           <tr>
                              <td class="label">Assigned Orders</td>
                              <td class="text">
                                 <div class="pills-container">
                                    @foreach (var order in Model.Location.TrainingOrders) {
                                       if (order.Lesson != null) {
                                          <a href="/TrainingOrders/Details?id=@order.Id" class="pill">TO #@order.Id - @order.Lesson.Name</a>
                                       }
                                    }
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="btn-container">
               <a class="btn bg-btn btnGreen" asp-page="./Edit" asp-route-id="@Model.Location.Id">Edit</a>
               @if (SignInManager.IsSignedIn(User)) {
                  var user = await UserManager.GetUserAsync(User);
                  if (user != null) {
                     var isOwner = await UserManager.IsInRoleAsync(user, "owner");
                     if (isOwner) {
                        <a class="btn bg-btn btnRed" asp-page="./Delete" asp-route-id="@Model.Location.Id">Delete</a>
                     }
                  }
               }
            </div>
         </div>
      </div>
   </div>
</div>
