@page
@model WCSTrainer.Pages.Locations.IndexModel

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="flex-column">
            <p class="title">Location Editor</p>
            <div class="order-list2">
               <table id="dataTable">

                  <tr>
                     <th>Location ID</th>
                     <th>Name</th>
                     <th></th>
                  </tr>

                  @foreach (var item in Model.Location) {
                     <tr class="clickable">
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>
                           <a asp-page="./Details" asp-route-id="@item.Id" class="btn nbg-btn btnWhite">View</a>
                           <a asp-page="./Delete" asp-route-id="@item.Id" class="btn nbg-btn btnRed">Delete</a>
                        </td>
                     </tr>
                  }
               </table>
               <div class="sorters">
                  <div class="btns">
                     <a asp-page="Create" class="btn bg-btn btnWhite">Create Location</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>