@page
@model AccessDeniedModel

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="field-container">
            <p class="title">Access Denied</p>
            <p class="subtitle">You do not have permission to view this page. <br /> Please contact an administrator to gain access.</p>
         </div>
      </div>
   </div>
</div>