@page
@model RegisterModel

@if (TempData["SuccessMessage"] != null)
{
   <script>
      window.onload = function() {
          alert(@Html.Raw(Json.Serialize(TempData["SuccessMessage"])));
          setTimeout(() => {
            document.querySelectorAll(".Finput").forEach(input => input.value = "");
          }, 100);
      };
   </script>
}

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Register a New Account</p>
            <div class="field-container">
               <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
               <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                  <div class="form-group">
                     <div class="form">
                        <div class="labels">
                           <p class="control-label">Username</p>
                        </div>
                        <input asp-for="Input.Username" aria-required="true" placeholder="Username123" class="Finput form-control" />
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form">
                        <div class="labels">
                           <p class="control-label">First Name</p>
                        </div>
                        <input asp-for="Input.FirstName" aria-required="true" placeholder="John" class="Finput form-control" />
                     </div>
                     <div class="form">
                        <div class="labels">
                           <p class="control-label">Last Name</p>
                        </div>
                        <input asp-for="Input.LastName" aria-required="true" placeholder="Doe" class="Finput form-control" />
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form">
                        <div class="labels">
                           <p class="control-label">Job Title</p>
                        </div>
                        <input asp-for="Input.JobTitle" aria-required="true" placeholder="Engineer" class="Finput form-control" />
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form">
                        <div class="labels">
                           <p class="control-label">Employee ID</p>
                        </div>
                        <input asp-for="Input.EmployeeID" aria-required="true" placeholder="12345" class="Finput form-control" />
                     </div>
                     <div class="form">
                        <div class="labels">
                           <p class="control-label">Shift</p>
                        </div>
                        <select asp-for="Input.Shift" class="form-drop2">
                           <option value="1">1st Shift</option>
                           <option value="2">2nd Shift</option>
                        </select>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form">
                        <div class="labels">
                           <p class="control-label">Password</p>
                        </div>
                        <input asp-for="Input.Password" aria-required="true" placeholder="Password" class="Finput form-control" />
                     </div>
                     <div class="form">
                        <div class="labels">
                           <p class="control-label">Confirm Password</p>
                        </div>
                        <input asp-for="Input.ConfirmPassword" aria-required="true" placeholder="Confirm Password" class="Finput form-control" />
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form">
                        <div class="btn-container">
                           <input id="registerSubmit" type="submit" value="Register" class="btn bg-btn btnWhite" />
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
