<div class="people-container">
    <div class="search">
        <input type="search" value="Search By Name"/>
    </div>
    <div class="people">
        People
    </div>
</div>
<div class="details">
    <p class="title">FirstName LastName</p>
    Description
    <br />
    Availability
    <br />
    Hours
</div>

@code {

}
