@page "/sidebar"

<div class="side-bar">
    <ul>
        <a>Statistics</a>
        <a href="/TrainingOrders">Training Orders</a>
        <a href="/Employees">Manage Employees</a>
        <a>Account Settings</a>
    </ul>
</div>

@code {

}
