@page
@model WCSTrainer.Pages.AccountManager.ManageUsersModel
@{
}


<h2>Manage Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users) {
            <tr>
                <td>@user.Email</td>
                <td>
                    <a asp-page="./EditUser" asp-route-id="@user.Id">Edit</a> |
                    <a asp-page="./DeleteUser" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>