@page
@model IndexModel
@{
   ViewData["Title"] = "Home";
}

@using Microsoft.AspNetCore.Identity
@using WCSTrainer.Models

@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

<div class="main-banner">
   <div class="banner-container">
      <div class="right">
         <div class="info">
            <p>Manage and Organize Work Training</p>
            @if (SignInManager.IsSignedIn(User)) {
               <a asp-page="/TrainingOrders/Index" class="btn btnWhite bg-btn">Start Here</a>
            } else {
               <a id="login" asp-area="Identity" asp-page="/Account/Login" class="btn btnWhite bg-btn">Start Here</a>
            }
         </div>
      </div>
      <div class="left">
         <div class="image">
            <img src="images/1N.png" />
         </div>
      </div>
   </div>
</div>
