@inject NavigationManager Navigation

@foreach (var link in links) {
   if (Navigation.Uri.Contains(link.Item1)) {
      var source = "/images/" + link.Item1 + ".svg";
      <a href="/@link.Item1" class="selected btn btnMenu">
         <img class="icon" src="@source">
         <p class="text">@link.Item2</p>
      </a>
   } else {
      var source = "/images/" + link.Item1 + ".svg";
      <a href="/@link.Item1" class="btn btnMenu">
         <img class="icon" src="@source">
         <p class="text">@link.Item2</p>
      </a>
   }
}

@code {
   private List<(string, string)> links = new List<(string, string)> {
      ("TrainingOrders", "Training Orders"),
      ("Lessons", "Lessons"),
      ("Skills", "Skills"),
      ("TrainerGroups", "Trainer Groups"),
      ("Locations", "Locations"),
      ("Accounts", "User Accounts"),
   };
}