@inject NavigationManager Navigation

<div class="side-bar">
   <div class="link-list">
      @{
         List<(string, string)> links = new List<(string, string)> {
      ("TrainingOrders", "Training Orders"),
      ("Skills", "Skills"),
      ("Employees", "Employees"),
      ("TrainerGroups", "Trainer Groups"),
      ("Locations", "Locations"),
      ("Accounts", "Account Manager"),
      };

         foreach (var link in links) {
            if (Navigation.Uri.Contains(link.Item1)) {
               <a href="/@link.Item1" class="selected btn nbg-btn btnMenu">@link.Item2</a>
            } else {
               <a href="/@link.Item1" class="btn nbg-btn btnMenu">@link.Item2</a>
            }
         }
      }
   </div>
</div>

@code {

}
