:root {
    --black: black;
    --gray1: #141516;
    --gray2: #1b2124;
    --gray3: #22272a;
    --gray4: #45494e;
    --textMain: white;
    --textSub1: #a0a9b4;
    --textSub2: #787f87;
    --mainTheme: #4631ae;
    --red1: #ff4d4d;
    --red2: #d81d1d;
    --blue1: #00abf5;
    --blue2: #00415e;
    --green1: #81ff8f;
    --green2: #0fb021;
    --yellow1: #fff764;
    --yellow2: #d8ce13;
}

.light-mode {
    --black: #dcd7c7;
    --gray1: #c8c4b6;
    --gray2: #b5b09d;
    --gray3: #e9e5d6;
    --gray4: black;
    --textMain: black;
    --textSub1: black;
    --textSub2: black;
    --mainTheme: #e45d5d;
    --red1: #e00606;
    --red2: #d81d1d;
    --blue1: black;
    --blue2: black;
    --green1: black;
    --green2: black;
    --yellow1: black;
    --yellow2: black;
}

/*-------------------------------------------------------*/
/*                   UNIVERSAL BUTTONS                   */
/*-------------------------------------------------------*/

.btn {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.nbg-btn {
    background: none;
    border: none;
}

    .nbg-btn:active {
        background-color: var(--gray4);
        cursor: default;
    }

.bg-btn {
    border: 1px solid var(--gray4);
    background-color: var(--gray2);
    border-radius: 5px;
}

.btnWhite {
    color: var(--textMain);
}

    .btnWhite:hover {
        background-color: var(--gray4);
    }

.btnGray {
    color: var(--gray4);
}

    .btnGray:hover {
        background-color: var(--gray3);
    }

.btnBlue {
    color: var(--blue1);
}

    .btnBlue:hover {
        border-color: black;
        background-color: var(--blue1);
        color: white;
    }

.btnRed {
    color: var(--red1);
}

    .btnRed:hover {
        border-color: black;
        background-color: var(--red2);
        color: white;
    }

.btnGreen {
    color: var(--green1);
}

    .btnGreen:hover {
        border-color: black;
        background-color: var(--green2);
        color: white;
    }


/*--------------------------------------------------------
                     COMPLETION STAGES                    
--------------------------------------------------------*/

.active {
    color: var(--green1);
}

.awaiting {
    color: var(--yellow1);
}

.completed {
    color: var(--blue1);
}

.verified {
    color: var(--red1);
}

.highlight {
    color: var(--yellow1);
}