:root {
	--white: #ffffff;
	--black: #000000;
	--gray1: #141516;
	--gray2: #1b2022;
	--gray3: #252a2e;
	--gray4: #45494e;
	--gray5: #5e6369;
	--textMain: white;
	--textSub1: #a0a9b4;
	--textSub2: #787f87;
	--mainTheme: #7859fb;
	--white2: #3b4042;
	--red1: #ff3d3d;
	--red2: #d50000;
	--red3: #311313;
	--blue1: #30b9ff;
	--blue2: #007ac1;
	--green1: #56ff64;
	--green2: #0a8e19;
	--yellow1: #ffec0a;
	--yellow2: #f6af06;
	--purple1: #a58eff;
	--purple2: #7050f8;
	--pill1: #7859fb;
	--pill2: #3d2d81;
	--pill3: #886cff;
	--archived: #787f87;
	--svg: invert(75%);
	--svgHover: invert(100%);
	--orderBack: #000000;
   --permWhite: #ffffff;
}

.light-mode {
   --white: #000000;
   --black: #ffffff;
   --gray1: #f0f0f0;
   --gray2: #e5e5e5;
   --gray3: #cccccc;
   --gray4: #999999;
   --gray5: #808080;
   --textMain: black;
   --textSub1: black;
   --textSub2: black;
   --mainTheme: #7859fb;
   --white2: #a3a3a3;
   --red1: #ff4d4d;
   --red2: #d81d1d;
   --red3: #ffcdcd;
   --blue1: #00b0d0;
   --blue2: #007ac1;
   --green1: #0e8b19;
   --green2: #0a8e19;
   --yellow1: #cc9000;
   --yellow2: #f6af06;
   --purple1: #a58eff;
   --purple2: #7050f8;
   --pill1: #7859fb;
   --pill2: #3d2d81;
   --pill3: #886cff;
   --archived: #9a0000;
   --svg: invert(20%);
   --svgHover: invert(0%);
   --orderBack: #f0f0f0;
   --permWhite: #ffffff;
}

.btn {
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
}

.nbg-btn {
	background: none;
	border: none;
}

	.nbg-btn:active {
		background-color: var(--gray4);
		cursor: default;
	}

.bg-btn {
	border: 1px solid var(--gray4);
	background-color: var(--gray2);
	border-radius: 3px;
}

.btnWhite {
	color: var(--textMain);
}

	.btnWhite:hover {
		border-color: var(--white);
	}

.btnMenu {
	border-bottom: 1px solid var(--gray3);
	color: var(--textSub1);
	text-decoration: none;
	text-align: left;
}

	.btnMenu:hover {
		color: var(--textMain);
	}

.btnBlue {
	color: var(--blue1);
}

	.btnBlue:hover {
		border-color: var(--blue1);
	}

.btnRed {
	color: var(--red1);
}

	.btnRed:hover {
		border-color: var(--red1);
	}

.btnGreen {
	color: var(--green1);
}

	.btnGreen:hover {
		border-color: var(--green1);
	}

.active {
	color: var(--purple1);
}

.approving {
	color: var(--blue1);
}

.completed {
	color: var(--purple2);
}

.verified {
	color: var(--red1);
}

.archived {
	color: var(--red2);
}

.scheduling {
	color: var(--blue2);
}

.unarchived {
	color: var(--textMain);
}

.highlight {
	color: var(--yellow1);
}

.pill {
	border: 1px solid var(--gray1);
	color: var(--permWhite);
	background: linear-gradient(20deg, var(--pill2), var(--pill1));
}

	.pill:hover {
		border: 1px solid var(--pill3);
	}

	.pill.inactive {
		background: none;
		background-color: var(--gray3);
		color: var(--textSub1);
	}

	.pill.none {
		background: none;
		background-color: var(--gray1);
		min-height: 20px;
	}

.link {
   color: var(--blue1);
   width: fit-content;
}

   .link:hover {
   }

   .link:active {
      color: var(--blue2);
   }


.text-danger {
	color: var(--red1);
}

/*
	.pill.group, .pill.groups {
		background-color: var(--blue2);
	}

	.pill.trainee, .pill.trainees {
		background-color: var(--red2);
	}

	.pill.yellow {
		background-color: var(--yellow2);
	}
	.pill.green {
		background-color: var(--green2);
		color: var(--w);
	}
*/