:root {
	--white: #ffffff;
	--black: #000000;
	--gray1: #141516;
	--gray2: #1b2022;
	--gray3: #252a2e;
	--gray4: #45494e;
	--gray5: #5e6369;
	--textMain: white;
	--textSub1: #a0a9b4;
	--textSub2: #787f87;
	--mainTheme: #7859fb;
	--white2: #3b4042;
	--red1: #ff4d4d;
	--red2: #d81d1d;
	--blue1: #30b9ff;
	--blue2: #007ac1;
	--green1: #56ff64;
	--green2: #0a8e19;
	--yellow1: #ffec0a;
	--yellow2: #89640c;
	--purple1: #818fff;
	--purple2: #3d2d81;
	--svg: invert(75%);
	--svgHover: invert(100%);
}

.light-mode {
	--white: #ffffff;
	--black: #ffffff;
	--gray1: #dddddd;
	--gray2: #b2b2b2;
	--gray3: #b2b2b2;
	--gray4: #000000;
	--gray5: #000000;
	--textMain: #000000;
	--textSub1: #000000;
	--textSub2: #000000;
	--mainTheme: #c8c8c8;
	--white2: #999999;
	--red1: #000000;
	--red2: #999999;
	--blue1: #000000;
	--blue2: #999999;
	--green1: #000000;
	--green2: #999999;
	--yellow1: #000000;
	--yellow2: #999999;
	--svg: invert(0%);
	--svgHover: invert(30%);
}

.btn {
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
}

.nbg-btn {
	background: none;
	border: none;
}

	.nbg-btn:active {
		background-color: var(--gray4);
		cursor: default;
	}

.bg-btn {
	border: 1px solid var(--gray4);
	background-color: var(--gray2);
	border-radius: 3px;
}

.btnWhite {
	color: var(--textMain);
}

	.btnWhite:hover {
		border-color: var(--white);
	}

.btnMenu {
	border-bottom: 1px solid var(--gray3);
	color: var(--textSub1);
	text-decoration: none;
	text-align: left;
}

	.btnMenu:hover {
		color: var(--textMain);
	}

.btnBlue {
	color: var(--blue1);
}

	.btnBlue:hover {
		border-color: var(--blue1);
	}

.btnRed {
	color: var(--red1);
}

	.btnRed:hover {
		border-color: var(--red2);
	}

.btnGreen {
	color: var(--green1);
}

	.btnGreen:hover {
		border-color: var(--green);
	}

.active {
	color: var(--green1);
}

.awaiting {
	color: var(--yellow1);
}

.completed {
	color: var(--blue1);
}

.verified {
	color: var(--red1);
}

.archived {
	color: var(--textSub1);
}

.unarchived {
	color: var(--textMain);
}

.highlight {
	color: var(--yellow1);
}

.pill {
	border: 1px solid var(--gray1);
	color: var(--textMain);
	background: linear-gradient(20deg, #3d2d81, #7859fb);
}

	.pill:hover {
		border: 1px solid #886cff;
	}

	.pill.inactive {
		background: none;
		background-color: var(--gray3);
		color: var(--textSub1);
	}

	.pill.none {
		background: none;
		background-color: var(--gray1);
		min-height: 20px;
	}

.text-danger {
	color: var(--red1);
}

/*
	.pill.group, .pill.groups {
		background-color: var(--blue2);
	}

	.pill.trainee, .pill.trainees {
		background-color: var(--red2);
	}

	.pill.yellow {
		background-color: var(--yellow2);
	}
	.pill.green {
		background-color: var(--green2);
		color: var(--w);
	}
*/