.file-explorer {
   width: 100%;
   color: var(--textMain);
}

.file-list {
   width: 100%;
   max-height: 700px;
   overflow-y: scroll;
   scrollbar-width: thin;
   scrollbar-color: var(--gray5) var(--gray3);
   display: flex;
   flex-direction: column;
}

.folder {
   flex-direction: column;
}

   .folder-header:hover {
      background-color: var(--gray3);
   }

.folder-content {
   margin-left: 20px;
   display: block;
}

.folder.open > .folder-content {
   display: none;
}

.folder.open > .folder-header > i.fa-folder {
   color: #ffd700;
}

.file {
   display: flex;
   grid-column-gap: 10px;
   align-items: center;
   padding: 5px 10px;
   border-top: 1px solid var(--gray4);
   justify-content: space-between;
   flex-wrap: wrap;
}

   .file .file-title {
      color: var(--textMain);
      font-size: 15px;
      display: flex;
      gap: 10px;
      cursor: pointer;
      align-items: center;
   }

.fas {
   margin-right: 8px;
}

.folder-name {
   font-weight: 500;
}


.file-explorer-path {
   list-style: none;
   display: flex;
   gap: 7px;
   font-weight: bold;
   padding: 10px 0;
}

   .file-explorer-path button {
      font-size: 15px;
      color: var(--textMain);
      font-weight: bold;
   }

.file-explorer-path button:hover {
   text-decoration: underline;
   cursor: pointer;
}

.filePath {
   width: 300px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   font-size: 15px;
   
}

.path-container {
   display: flex;
   gap: 10px;
   align-items: center;
   color: var(--textSub2);
}

.fa-copy:hover {
   color: var(--textMain);
}