:root {
    --gray1: #141516;
    --gray2: #30383b;
    --gray3: #282e31;
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

.main-title {
    font-size: 20px;
    margin-right: 40px;
}

nav {
    top: 0;
    display: flex;
    width: 100%;
    background-color: var(--gray2);
    justify-content: center;
    margin-bottom: 50px;
}

    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 1500px;
        max-width: 80%;
        height: 60px;
    }

    nav li {
        list-style: none;
        height: 100%;
        display: flex;
        align-items: center;
    }

        nav li a {
            display: flex;
            align-items: center;
            color: #bababa;
            font-size: 20px;
            text-decoration: none;
            padding: 0 20px;
            height: 100%;
            width: 100%;
        }

        nav li a:hover {
            background-color: var(--gray3);
            color: white;
        }



html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 100%;
    
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    background-color: var(--gray1);
    color: white;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 1500px;
    max-width: 80%;
}

.maintitle {
    margin-top: 100px;
    color: white;
    font-size: 50px;
}

.maintitle2 {
    margin-top: 10px;
    color: white;
    font-size: 40px;
}

/*--------------------------------------------------------*/
/*                       MAIN PANEL                       */
/*--------------------------------------------------------*/

.panel {
    display: flex;
    width: 100%;
}

    .panel .body {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        min-height: 800px;
    }

        .panel .body .side-bar {
            display: flex;
            flex-direction: column;
            width: 20%;
            background-color: var(--gray2);
        }

            .panel .body .side-bar ul {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0;
                padding: 0;
            }
            .panel .body .side-bar a {
                text-decoration: none;
            }

                .panel .body .side-bar a .li {
                    width: 100%;
                    color: #D9DADA;
                    padding: 15px 20px;
                }

            .panel .body .side-bar .selected {
                padding: 15px 20px;
                color: white;
                background-color: var(--gray3);
                border-bottom: 2px solid #76B5BA;
            }
            .panel .body .side-bar .li:hover {
                background-color: var(--gray3);
                color: white;
            }

        .panel .body .properties {
            padding: 40px;
            background-color: var(--gray3);
            display: flex;
            flex-direction: row;
            width: 80%;
        }

            .panel .body .properties .user-form {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

                .panel .body .properties .user-form .title {
                    color: white;
                    font-size: 30px;
                    margin-bottom: 40px;
                }
                .panel .body .properties .user-form .description {
                    color: white;
                }
                .panel .body .properties .user-form .field-container {
                    color: white;
                    display: flex;
                    flex-direction: column;
                    margin-top: 40px;
                    width: 100%;
                }
                .panel .body .properties .user-form .btn {
                    margin-top: 5px;
                    padding: 10px 0;
                    width: 200px;
                    font-size: 15px;
                }
                    .panel .body .properties .user-form .btn:hover .form-drop {
                        display: block;
                    }

                .panel .body .properties .user-form .field-container .form-group {
                    display: flex;
                    flex-direction: column;
                    width: 40%;
                }

                    .panel .body .properties .user-form .field-container .form-group .labels {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }

                        .panel .body .properties .user-form .field-container .form-group .labels .control-label {

                        }
                        .panel .body .properties .user-form .field-container .form-group .labels .text-danger {
                            color: #ff3434;
                            margin-left: 10px;
                        }

                    .panel .body .properties .user-form .field-container .form-group .form-control {
                        height: 25px;
                        margin-bottom: 20px;
                    }

                    .panel .body .properties .user-form .field-container .form-group textarea {
                        margin-bottom: 20px;
                        border-radius: 5px;
                        font-size: 15px;
                    }
                    
                    .panel .body .properties .user-form .field-container .form-group .form-drop2 {
                        margin-bottom: 20px;
                        display: block;
                        height: 30px;
                    }
                    .panel .body .properties .user-form .field-container .form-group .selections {
                        display: flex;
                        background-color: black;
                        padding: 3px;
                        min-height: 30px;
                    }

                        .panel .body .properties .user-form .field-container .form-group .selections ul {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            
                        }

                            .panel .body .properties .user-form .field-container .form-group .selections ul li {
                                list-style: none;
                                background-color: var(--gray2);
                                cursor: pointer;
                                padding: 3px 10px;
                                border-radius: 20px;
                                margin: 2px;

                            }

                    .panel .body .properties .user-form .field-container .form-group .selectors {
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 10px;
                        width: 100%;
                        justify-content: space-between;
                    }

                        .panel .body .properties .user-form .field-container .form-group .selectors .selector {
                            display: flex;
                            flex-direction: column;
                            width: 48%;
                        }
                            .panel .body .properties .user-form .field-container .form-group .selectors .selector .btn {
                                padding: 10px 0;
                                width: 100%;
                                font-size: 15px;
                            }

                            .panel .body .properties .user-form .field-container .form-group .selectors .selector .form-drop {
                                display: none;
                                color: black;
                                font-size: 15px;
                                width: 100%;
                            }

                                .panel .body .properties .user-form .field-container .form-group .selectors .selector .form-drop ul {
                                    list-style: none;
                                    width: 100%;
                                }

                                    .panel .body .properties .user-form .field-container .form-group .selectors .selector .form-drop ul li {
                                        cursor: pointer;
                                        padding: 5px;
                                        background-color: white;
                                    }
                                        .panel .body .properties .user-form .field-container .form-group .selectors .selector .form-drop ul li:hover {
                                            background-color: #dbdbdb;
                                        }

                .panel .body .properties .user-form .field-container .text-group {
                    display: flex;
                    flex-direction: row;
                    padding: 5px 0;
                    width: 75%;
                    border-bottom: 1px solid #45494e;
                }
                    .panel .body .properties .user-form .field-container .text-group .identifier {
                        height: 100%;
                        width: 30%;
                    }
                    .panel .body .properties .user-form .field-container .text-group .info-content {
                        height: 100%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        width: 70%;
                    }

                    .panel .body .properties .user-form .field-container .text-group .title {
                        font-size: 20px;
                        color: #a0a2a8;
                        margin: 0;
                    }
                    .panel .body .properties .user-form .field-container .text-group .info {
                        margin-left: 10px;
                        font-size: 20px;
                    }

            .panel .body .properties .tools {
                margin-left: 30px;
                display: flex;
                flex-direction: column;
                color: white;
                width: 30%;
            }

                .panel .body .properties .tools .btn {
                    margin: 10px 0 0 0;
                    width: 45%;
                    text-align: center;
                    text-decoration: none;
                    padding: 10px;
                }
                .panel .body .properties .tools .search {
                    width: 100%;
                    display: flex;
                    height: 99px;
                    flex-direction: column;
                    border-bottom: 1px solid #808080;
                    margin-bottom: 20px;
                }

                    .panel .body .properties .tools .search input {
                        height: 35px;
                        margin-top: 10px;
                    }
                    .panel .body .properties .tools .search p {
                        font-size: 20px;
                        color: white;
                    }

                .panel .body .properties .tools .selections {
                    margin-bottom: 20px;
                }

                    .panel .body .properties .tools .selections .title {
                    }
                    .panel .body .properties .tools .selections .section {
                        margin-top: 10px;
                        display: flex;
                    }

                        .panel .body .properties .tools .selections .section .info {
                            margin-left: 7px;
                        }

            .panel .body .properties .order-list {
                overflow-y: scroll;
                width: 70%;
                max-height: 750px;
            }

                .panel .body .properties .order-list ul {
                    list-style: none;
                }
                .panel .body .properties .order-list li {
                    margin-right: 20px;
                    padding: 10px;
                    border-bottom: 1px solid gray;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }

                    .panel .body .properties .order-list li:hover {
                        background-color: #1f2223;
                    }
                    .panel .body .properties .order-list li .info {
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        text-decoration: none;
                    }

                        .panel .body .properties .order-list li .info .title {
                            display: flex;
                            width: 100%;
                            height: 100%;
                            color: white;
                            font-size: 17px;
                        }
                        .panel .body .properties .order-list li .info .sub {
                            display: flex;
                            margin-top: 2px;
                            font-size: 15px;
                            color: #B2B3B4;
                        }

                            .panel .body .properties .order-list li .info .sub p {
                                margin-right: 5px;
                            }

                    .panel .body .properties .order-list li .btn {
                        padding: 8px 10px;
                        font-size: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

            .panel .body .properties .order-list2 {
                overflow-y: scroll;
                width: 100%;
                max-height: 750px;
            }

                .panel .body .properties .order-list2 .sorters {
                    width: 100%;
                }

                    .panel .body .properties .order-list2 .sorters .btn {
                        padding: 8px 10px;
                        margin: 10px 0;
                    }
                    .panel .body .properties .order-list2 .sorters p {
                        color: white;
                    }

                .panel .body .properties .order-list2 table {
                    width: 100%;
                    padding-right: 20px;
                }

                    .panel .body .properties .order-list2 table tr {
                        font-size: 18px;
                    }
                    .panel .body .properties .order-list2 table .clickable {

                    }

                        .panel .body .properties .order-list2 table .clickable:hover {
                            background-color: #1a1b1b;
                            cursor: pointer;
                        }

                    .panel .body .properties .order-list2 table tr td {
                        color: #b1b6bb;
                        border-bottom: 1px solid #51565b;
                        height: 25px;
                    }
                    .panel .body .properties .order-list2 table tr th {
                        color: white;
                        border-bottom: 1px solid white;
                        text-align: start;
                    }

/*--------------------------------------------------------*/
/*                   UNIVERSAL BUTTONS                    */
/*--------------------------------------------------------*/

.btn {
    background-color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid black;
}

.btnWhite        { color: white;              }
.btnWhite:hover  { background-color: #282828; }
.btnWhite:active { border-color: #585858;     }

.btnBlue         { color: #31d9ff;            }
.btnBlue:hover   { background-color: #0b2930; }
.btnBlue:active  { border-color: #185362;     }

.btnRed          { color: #ff4d4d;            }
.btnRed:hover    { background-color: #2c0d0d; }
.btnRed:active   { border-color: #5c1d1d;     }

.btnGreen        { color: #64ff76;            }
.btnGreen:hover  { background-color: #102813; }
.btnGreen:active { border-color: #235b2a;     }


/*--------------------------------------------------------*/
/*                     DELETION POPUP                     */
/*--------------------------------------------------------*/

.modal {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    background-color: var(--gray2);
    z-index: 2;
    color: white;
    gap: 30px;
    top: 30vh;
    position: fixed;
}

    .modal .one {
        display: flex;
        justify-content: flex-end;
    }
    .modal .two {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

        .modal .two .title {
            font-size: 22px;
            font-weight: bold;
        }
        .modal .two .info {
            text-align: center;
            font-size: 18px;
        }

    .modal .three {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.btn-close {
    top: 10px;
    text-align: center;
    padding: 3px 8px;
    border-radius: 50%;
    font-size: 20px;
}
.btn-submit {
    padding: 10px 50px;
    font-size: 15px;
}
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}
.hidden {
    display: none;
}

/*--------------------------------------------------------
                     DELETION POPUP                     
--------------------------------------------------------*/

.active    { color: #1fff38; }
.awaiting  { color: #ffed20; }
.completed { color: #ffffff; }