.content {
   justify-content: flex-start;
   flex-direction: column;
   align-items: center;
   max-width: 100%;
   min-width: 70%;
   display: flex;
   width: 1650px;
}

nav {
   border-bottom: 1px solid var(--gray4);
   background-color: var(--black);
   justify-content: center;
   display: flex;
   width: 100%;
   top: 0;
}

   nav .nav-container {
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
      min-width: 70%;
      display: flex;
      width: 1650px;
   }

      nav .nav-container .nav-buttons {
      }

         nav .nav-container .nav-buttons ul {
            flex-direction: row;
            align-items: center;
            display: flex;
            height: 60px;
            gap: 20px;
         }

            nav .nav-container .nav-buttons ul .main-title {
               color: var(--textMain);
               white-space: nowrap;
               padding: 0 10px;
               font-weight: 400;
            }

            nav .nav-container .nav-buttons ul li {
               align-items: center;
               list-style: none;
               display: flex;
               height: 100%;
            }

               nav .nav-container .nav-buttons ul li a {
                  color: var(--textSub1);
                  text-decoration: none;
                  align-items: center;
                  text-align: center;
                  user-select: none;
                  font-size: 18px;
                  display: flex;
                  height: 100%;
                  width: 100%;
               }

               nav .nav-container .nav-buttons ul li .clickable {
               }

                  nav .nav-container .nav-buttons ul li .clickable:hover {
                     color: var(--textMain);
                  }

      nav .nav-container .nav-options {
         flex-direction: row;
         display: flex;
         gap: 20px;
         display: flex;
         height: 100%;
         justify-content: center;
         align-items: center;
         padding: 0 10px;
      }

         nav .nav-container .nav-options .btn-container {
            display: flex;
            align-items: center;
            gap: 10px;
            height: 100%;
         }

         nav .nav-container .nav-options .btn {
            padding: 5px 10px;
            font-size: 15px;
         }

         nav .nav-container .nav-options .img-container {
            display: flex;
            align-items: center;
            gap: 10px;
            height: 100%;
         }

         nav .nav-container .nav-options img {
            height: 20px;
            filter: var(--svg);
            padding: 0;
         }

            nav .nav-container .nav-options img:hover {
               filter: var(--svgHover);
            }

         nav .nav-container .nav-options a {
            display: flex;
         }

         nav .nav-container .nav-options form button {
            padding: 5px 10px;
            font-size: 15px;
         }

         nav .nav-container .nav-options .login-email {
            font-size: 18px;
            color: var(--textSub2);
         }

            nav .nav-container .nav-options .login-email:hover {
               text-decoration: underline;
            }

.panel {
   display: flex;
   width: 100%;
   margin-top: 30px;
}

   .panel .body {
      flex-direction: row;
      display: flex;
      width: 100%;
      gap: 30px;
      padding: 10px;
   }

      .panel .body .side-bar {
         flex-direction: column;
         display: flex;
         height: fit-content;
         border-left: 1px solid var(--gray5);
      }

         .panel .body .side-bar .link-list {
            flex-direction: column;
            display: flex;
            padding: 0;
            margin: 0;
         }

            .panel .body .side-bar .link-list .condenser {
               color: var(--white);
               display: flex;
               justify-content: flex-end;
               align-items: center;
               padding: 2px;
               padding-right: 5px;
               cursor: pointer;
               border-top: 1px solid var(--gray5);
               background: linear-gradient(90deg, var(--gray2), var(--gray3));
               border-right: 1px solid var(--gray5);
            }

            .panel .body .side-bar .link-list .condenser:hover {
               background-color: var(--gray2);
            }

            .panel .body .side-bar .link-list .btn {
               display: flex;
               padding: 9px;
               max-height: 25px;
               align-items: center;
               gap: 15px;
               border-top: 1px solid var(--gray1);
               border-bottom: 1px solid var(--gray1);
            }

               .panel .body .side-bar .link-list .btn .icon {
                  height: 22px;
                  width: 22px;
                  filter: var(--svg);
               }

               .panel .body .side-bar .link-list .btn .text {
                  min-width: 200px;
               }

               .panel .body .side-bar .link-list .btn:hover {
                  background: linear-gradient(90deg, var(--gray3), var(--gray1));
               }

                  .panel .body .side-bar .link-list .btn:hover .icon {
                     filter: var(--svgHover);
                  }

         .panel .body .side-bar .condensed {
            border-right: 1px solid;
            border-color: var(--gray5);
         }

         .panel .body .side-bar .condensed:hover {
            background: none !important;
            background-color: var(--gray3) !important;
         }

         .panel .body .side-bar .selected {
            background: linear-gradient(90deg, var(--gray3), var(--gray1));
            color: var(--textMain);
            border-image: linear-gradient(90deg, var(--gray5), var(--gray1)) 1;
            
         }

            .panel .body .side-bar .selected.condensed {
               background: none;
               background-color: var(--gray3);
               color: var(--textMain);
               border-image: none;
               border-color: var(--gray5);
            }

         .panel .body .side-bar .selected-img {
            filter: var(--svgHover) !important;
         }

      .panel .body .help-navigation {
         flex-direction: column;
         display: flex;
         height: fit-content;
      }

         .panel .body .help-navigation .link-list {
            flex-direction: row;
            display: flex;
            column-gap: 10px;
            row-gap: 5px;
            flex-wrap: wrap; 
         }

         .panel .body .help-navigation .btn {
            display: flex;
            padding: 3px 10px;
            color: var(--textSub1);
            font-weight: bold;
            font-size: 18px;
            border-left: 3px solid var(--gray5);
            background-color: var(--gray3);
         }

            .panel .body .help-navigation .btn:hover {
               color: var(--textMain);
               border-color: var(--textMain);
               background-color: var(--gray4);
            }

         .panel .body .help-navigation .title {
            color: var(--textMain);
            font-weight: bold;
            font-size: 25px;
         }

         .panel .body .help-navigation .sub-title {
            color: var(--textSub1);
            font-weight: bold;
            font-size: 20px;
            padding-top: 20px;
            padding-bottom: 5px;
         }

      .panel .body .properties {
         justify-content: space-between;
         flex-direction: row;
         display: flex;
         flex-grow: 1;
         gap: 30px;
         height: fit-content;
      }

         .panel .body .properties .title {
            color: var(--textMain);
            font-size: 25px;
            font-weight: 500;
         }

         .panel .body .properties .subtitle {
            color: var(--textSub1);
            font-size: 18px;
            display: flex;
            gap: 7px;
            font-weight: 500;
         }

         .panel .body .properties .archive-warning {
            border: 1px solid var(--gray4);
            background-color: var(--gray2);
            border-radius: 5px;
            display: flex;
            align-items: center;
         }

            .panel .body .properties .archive-warning img {
               padding-left: 10px;
               height: 17px;
               width: 17px;
               filter: var(--svg);
            }

            .panel .body .properties .archive-warning p {
               color: var(--red1);
               padding: 5px 10px;
            }

         .panel .body .properties .user-form {
            flex-direction: column;
            display: flex;
            width: 100%;
         }

            .panel .body .properties .user-form .title-container {
               display: flex;
               gap: 15px;
            }

            .panel .body .properties .user-form .description {
               color: var(--textMain);
            }

            .panel .body .properties .user-form .field-container {
               flex-direction: column;
               color: var(--textMain);
               margin-top: 20px;
               display: flex;
               width: 100%;
            }

            .panel .body .properties .user-form .btn-container {
               flex-direction: row;
               padding-top: 10px;
               display: flex;
               width: 100%;
               gap: 5px;
               flex-wrap: wrap;
            }

               .panel .body .properties .user-form .btn-container .btn {
                  padding: 5px 10px;
                  font-size: 15px;
                  display: flex;
               }

                  .panel .body .properties .user-form .btn-container .btn:hover .form-drop {
                     display: block;
                  }

                  .panel .body .properties .user-form .btn-container .btn:hover .hover-img {
                     filter: var(--svgHover);
                  }

                  .panel .body .properties .user-form .btn-container .btn img {
                     height: 20px;
                     max-width: 20px;
                     filter: var(--svg);
                     user-select: none;
                  }

            .panel .body .properties .user-form .field-container .form-group {
               flex-direction: row;
               margin-bottom: 20px;
               min-width: 350px;
               display: flex;
               width: 600px;
               gap: 20px;
            }

               .panel .body .properties .user-form .field-container .form-group .form {
                  flex-direction: column;
                  min-height: fit-content;
                  display: flex;
                  width: 100%;
               }

                  .panel .body .properties .user-form .field-container .form-group .form .labels {
                     display: flex;
                     flex-direction: column;
                     margin-bottom: 3px;
                     display: flex;
                     padding: 0;
                  }

                     .panel .body .properties .user-form .field-container .form-group .form .labels .control-label {
                        font-weight: bold;
                     }

                     .panel .body .properties .user-form .field-container .form-group .form .labels .text-danger {
                        color: #ff3434;
                     }

               .panel .body .properties .user-form .field-container .form-group .form-control {
                  border: none;
                  height: 30px;
                  background: var(--black);
                  color: var(--textMain);
                  border: 1px solid var(--gray4);
               }

               .panel .body .properties .user-form .field-container .form-group .multi-select {
                  border: none;
                  width: 100%;
                  background: var(--black);
                  color: var(--textMain);
                  border: 1px solid var(--gray4);
               }

               .panel .body .properties .user-form .field-container .form-group textarea {
                  border-radius: 0;
                  font-size: 15px;
                  border: none;
                  padding: 5px;
                  resize: vertical;
                  background: var(--black);
                  color: var(--textMain);
                  border: 1px solid var(--gray4);
                  min-height: fit-content;
                  height: auto;
               }

               .panel .body .properties .user-form .field-container .form-group .form-drop2 {
                  display: block;
                  border: none;
                  height: 30px;
                  width: 100%;
                  background: var(--black);
                  color: var(--textMain);
                  border: 1px solid var(--gray4);
               }

            .panel .body .properties .user-form .field-container .selections {
               display: flex;
               flex-direction: column;
            }

               .panel .body .properties .user-form .field-container .selections .btn {
                  background-color: var(--gray3);
                  border: 1px solid var(--gray5);
                  padding: 2px 10px;
                  border-bottom: none;
                  font-weight: bold;
               }

                  .panel .body .properties .user-form .field-container .selections .btn:hover {
                     background-color: var(--gray4);
                  }


               .panel .body .properties .user-form .field-container .selections .pill-container {
                  border-radius: 0;
                  flex-grow: 1;
               }

            .panel .body .properties .user-form .field-container .form-group .selector {
            }

            .panel .body .properties .user-form .field-container .btn {
               font-size: 15px;
               padding: 5px 10px;
               min-width: fit-content;
               height: fit-content;
               align-self: flex-start;
            }

            .panel .body .properties .user-form .field-container .title-row {
               background-color: var(--gray3);
               padding: 3px 0;
               padding-left: 10px;
            }

               .panel .body .properties .user-form .field-container .title-row .title {
                  font-size: 16px;
               }

            .panel .body .properties .user-form .field-container .text-group {
               border-top: 1px solid var(--gray3);
               flex-direction: row;
               display: flex;
               padding: 3px 0;
               width: 100%;
            }

               .panel .body .properties .user-form .field-container .text-group .title {
                  padding-left: 15px;
                  color: var(--textSub1);
                  font-size: 16px;
                  width: 170px;
                  flex-grow: 1;
               }

               .panel .body .properties .user-form .field-container .text-group .info {
                  display: flex;
                  flex-wrap: wrap;
                  font-size: 16px;
                  width: 100%;
                  gap: 1px;
                  flex-direction: column;
               }

                  .panel .body .properties .user-form .field-container .text-group .info .description-container {
                     width: 100%;
                     font-size: 16px;
                  }

                  .panel .body .properties .user-form .field-container .text-group .info .description-link {
                     color: var(--blue1);
                     width: fit-content;
                  }

                  .panel .body .properties .user-form .field-container .text-group .info .description-video {
                     display: flex;
                  }

                  .panel .body .properties .user-form .field-container .text-group .info .skills-container {
                     display: flex;
                     gap: 5px;
                     flex-wrap: wrap;
                  }

                  .panel .body .properties .user-form .field-container .text-group .info .pills-container {
                     display: flex;
                     flex-wrap: wrap;
                     font-size: 16px;
                     width: 100%;
                     gap: 1px;
                     flex-direction: row;
                  }

                  .panel .body .properties .user-form .field-container .text-group .info img {
                     display: flex;
                     width: fit-content;
                  }

                  .panel .body .properties .user-form .field-container .text-group .info .btn {
                     display: flex;
                     width: fit-content;
                     font-size: 13px;
                     padding: 4px 8px;
                  }

.field-section-container {
   display: flex;
   width: 100%;
   gap: 10px;
}

.field-section {
   display: flex;
   flex-direction: column;
   height: fit-content;
   flex-grow: 1;
   margin-bottom: 10px;
}

   .field-section table {
      background-color: var(--gray2);
      border: 1px solid var(--gray4);
      border-radius: 5px;
      border-collapse: collapse;
   }

      .field-section table tbody {
      }

         .field-section table tbody tr {
         }

            .field-section table tbody tr td {
               padding: 1px 0;
               vertical-align: top;
            }

      .field-section table thead tr th {
         font-size: 14px;
         font-weight: 500;
         border-right: 1px solid var(--gray4);
         border-bottom: 1px solid var(--gray4);
         padding: 2px 0;
      }

         .field-section table thead tr th:last-child {
            border-right: none;
         }

      .field-section table tbody tr .label {
         padding: 2px 10px;
         padding-right: 30px;
         color: var(--textSub1);
         font-size: 16px;
         font-weight: 500;
         width: 1%;
         white-space: nowrap;
      }

      .field-section table tbody tr .column {
         border-right: 1px solid var(--gray4);
         padding: 3px;
      }

         .field-section table tbody tr .column:last-child {
            border: none;
         }

         .field-section table tbody tr .column .pills-container {
            display: flex;
            flex-direction: column;
            top: 0px;
            align-self: flex-start;
         }

         .field-section table tbody tr .column .description-container {
            padding: 10px;
         }

      .field-section table tbody tr .text {
         display: flex;
         flex-wrap: wrap;
         font-size: 16px;
         gap: 1px;
         flex-direction: column;
         padding-right: 10px;
      }

         .field-section table tbody tr .text .description-container {
            width: 100%;
            font-size: 16px;
         }

         .field-section table tbody tr .text .description-link {
            color: var(--blue1);
            width: fit-content;
         }

         .field-section table tbody tr .text .description-video {
            display: flex;
         }

      .field-section table tbody tr .skills-container {
         display: flex;
         flex-direction: column;
         gap: 5px;
      }

      .field-section table tbody tr .text .pills-container {
         display: flex;
         flex-wrap: wrap;
         width: 100%;
         gap: 1px;
      }

      .field-section table tbody tr .text .info img {
         display: flex;
         width: fit-content;
      }

      .field-section table tbody tr .btn {
         display: flex;
         width: fit-content;
         font-size: 13px;
         padding: 4px 8px;
      }

.panel .body .properties .user-form .skill-box {
   padding: 5px;
   display: flex;
   flex-direction: column;
   background-color: var(--black);
   border: 1px solid var(--gray4);
   border-radius: 5px;
}

   .panel .body .properties .user-form .skill-box .title-container {
      padding: 0;
   }

      .panel .body .properties .user-form .skill-box .title-container .skill-title {
         text-decoration: none;
         color: var(--textSub1);
         font-size: 14px;
         font-weight: 500;
         display: flex;
         padding: 0 2px;
         padding-bottom: 2px;
      }

         .panel .body .properties .user-form .skill-box .title-container .skill-title:hover {
            color: var(--textMain);
         }

   .panel .body .properties .user-form .skill-box .order-list {
      display: flex;
      flex-direction: column;
   }

      .panel .body .properties .user-form .skill-box .order-list .pill {
         font-size: 14px;
         flex-grow: 1;
      }

      .panel .body .properties .user-form .skill-box .order-list .order-block {
         display: flex;
         gap: 5px;
      }

         .panel .body .properties .user-form .skill-box .order-list .order-block .dot {
            display: flex;
            align-items: flex-start;
            padding-top: 1px;
         }

.panel .body .properties .tool-container {
   width: 270px;
   min-width: 270px;
   display: flex;
   height: fit-content;
}

   .panel .body .properties .tool-container .btn {
      padding: 6px 10px;
      height: fit-content;
   }

   .panel .body .properties .tool-container .section-title {
      color: var(--textMain);
      font-size: 15px;
      font-weight: 500;
   }

   .panel .body .properties .tool-container .tools {
      flex-direction: column;
      color: var(--textMain);
      display: flex;
      width: 100%;
   }

      .panel .body .properties .tool-container .tools .selectors-container {
         display: flex;
         flex-direction: column;
         gap: 10px;
         padding-top: 20px;
      }

      .panel .body .properties .tool-container .tools .selectors {
         display: flex;
         gap: 5px;
      }

         .panel .body .properties .tool-container .tools .selectors .pill-container {
            border: 1px solid var(--gray4);
            flex-direction: row;
            flex-wrap: wrap;
            display: flex;
            min-height: fit-content;
            flex-grow: 1;
            gap: 5px;
            align-content: flex-end;
            padding: 5px;
            background-color: var(--black);
         }

      .panel .body .properties .tool-container .tools .title {
         font-weight: bold;
         font-size: 17px;
      }

      .panel .body .properties .tool-container .tools .selectors .btn {
         padding: 5px 10px;
         display: flex;
         font-size: 14px;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      .panel .body .properties .tool-container .tools .btns {
         flex-direction: column;
         display: flex;
      }

      .panel .body .properties .tool-container .tools .btn {
         padding: 5px 0;
         display: flex;
      }

      .panel .body .properties .tool-container .tools .search {
         width: 100%;
         display: flex;
         flex-direction: column;
         padding: 20px 0;
         height: fit-content;
         gap: 10px;
      }

         .panel .body .properties .tool-container .tools .search .side {
            display: flex;
            gap: 10px;
         }

            .panel .body .properties .tool-container .tools .search .side input {
               display: flex;
               flex-grow: 1;
            }

         .panel .body .properties .tool-container .tools .search select {
            height: 30px;
            width: 30%;
         }

      .panel .body .properties .tool-container .tools .selections {
         display: flex;
         flex-direction: column;
         margin-bottom: 20px;
         gap: 5px;
      }

         .panel .body .properties .tool-container .tools .selections .section {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--gray4);
            font-size: 15px;
            font-weight: 500;
         }

            .panel .body .properties .tool-container .tools .selections .section input {
               color: red;
               background-color: red;
            }

         .panel .body .properties .tool-container .tools .selections .section-info {
            display: flex;
            flex-grow: 1;
         }

      .panel .body .properties .tool-container .tools .info {
         margin-top: 20px;
         display: flex;
         gap: 10px;
         font-size: 15px;
         flex-direction: column;
         background-color: var(--gray2);
         border: 1px solid var(--gray4);
         padding: 10px;
         border-radius: 7px;
      }

      .panel .body .properties .tool-container .tools .info-section {
         display: flex;
         justify-content: space-between;
         justify-content: space-between;
      }

.panel .body .properties .categories {
}

   .panel .body .properties .categories .category {
      display: flex;
      justify-content: space-between;
   }

      .panel .body .properties .categories .category .name {
      }

.panel .body .properties .list-container {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   height: fit-content;
}

   .panel .body .properties .list-container .title {
      font-weight: bold;
      font-size: 17px;
   }

   .panel .body .properties .list-container .top {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
   }

      .panel .body .properties .list-container .top .left {
         display: flex;
         height: 100%;
         color: var(--textSub2);
         column-gap: 10px;
         row-gap: 5px;
         flex-wrap: wrap;
      }

         .panel .body .properties .list-container .top .left .select-cont {
            min-width: fit-content;
         }

         .panel .body .properties .list-container .top .left p {
            margin-bottom: 2px;
         }


         .panel .body .properties .list-container .top .left .drop-form {
            height: 33px;
            background-color: var(--black);
            border: 1px solid var(--gray5);
            color: var(--textMain);
            width: 100%;
         }

      .panel .body .properties .list-container .top .right {
         display: flex;
         height: 100%;
         min-width: fit-content;
      }

   .panel .body .properties .list-container .order-list-container {
      overflow-y: scroll;
      max-height: 65vh;
      scrollbar-width: thin;
      scrollbar-color: var(--gray5) var(--gray3);
      scroll-behavior: smooth;
   }

   .panel .body .properties .list-container .order-list {
      width: 100%;
   }

      .panel .body .properties .list-container .order-list ul {
         list-style: none;
         display: flex;
         flex-direction: column;
         background-color: var(--orderBack);
      }

      .panel .body .properties .list-container .order-list li {
         display: flex;
         padding: 2px 10px;
         border-left: 3px solid;
         border-radius: 3px 0 0 3px;
         background: linear-gradient(to right, var(--gray2), var(--gray1));
         border-bottom: 1px solid var(--gray3);
         margin-bottom: 2px;
      }

         .panel .body .properties .list-container .order-list li:hover {
         }

         .panel .body .properties .list-container .order-list li .info {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            flex-grow: 1;
         }

            .panel .body .properties .list-container .order-list li .info .title {
               display: flex;
               width: 100%;
               height: 100%;
               color: var(--textMain);
               font-size: 17px;
               align-items: flex-start;
               column-gap: 8px;
               row-gap: 3px;
               flex-wrap: wrap;
            }

               .panel .body .properties .list-container .order-list li .info .title .name {
                  text-decoration: none;
                  cursor: pointer;
                  user-select: none;
               }

                  .panel .body .properties .list-container .order-list li .info .title .name:hover {
                     text-decoration: underline;
                  }

            .panel .body .properties .list-container .order-list li .info .sub {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               align-items: flex-start;
            }

               .panel .body .properties .list-container .order-list li .info .sub .identifier {
                  color: var(--textSub2);
               }

            .panel .body .properties .list-container .order-list li .info .skill-name {
               color: var(--textSub1);
               text-decoration: none;
            }

               .panel .body .properties .list-container .order-list li .info .skill-name:hover {
                  text-decoration: underline;
               }

         .panel .body .properties .list-container .order-list li .btns {
            display: flex;
            gap: 5px;
            align-items: center;
         }

            .panel .body .properties .list-container .order-list li .btns .btn {
               padding: 4px 10px;
               font-size: 13px;
               height: fit-content;
            }

   .panel .body .properties .list-container .order-table {
      width: 100%;
      border-collapse: collapse;
   }

      .panel .body .properties .list-container .order-table tr {
         display: table-row;
         height: 10px;
      }

         .panel .body .properties .list-container .order-table tr:hover {
            background-color: var(--gray2);
            cursor: pointer;
            color: white;
         }

         .panel .body .properties .list-container .order-table tr:hover td {
            color: white;
         }

         .panel .body .properties .list-container .order-table tr.Archived {
            background-color: var(--red3);
         }

      .panel .body .properties .list-container .order-table .clickable .btn {
      }

      .panel .body .properties .list-container .order-table tr td, .panel .body .properties .list-container table tr th {
         color: var(--textSub1);
         text-align: start;
         padding: 2px 5px;
         white-space: nowrap;
      }

      .panel .body .properties .list-container .order-table tr td {
         border: 1px solid var(--gray3);
         white-space: normal;
         max-width: 300px;
      }

      .panel .body .properties .list-container .order-table tr th {
         background-color: var(--gray3);
         color: var(--textMain);
      }

      .panel .body .properties .list-container .order-table .table-btn {
         color: var(--textMain);
         text-decoration: none;
      }

         .panel .body .properties .list-container .order-table .table-btn:hover {
            text-decoration: underline;
         }

.panel .body .properties .order-list2 {
   width: 100%;
   overflow-y: scroll;
   max-height: 700px;
   scrollbar-width: thin;
   scrollbar-color: var(--gray5) var(--gray3);
}

   .panel .body .properties .order-list2 table {
      width: 100%;
      border-collapse: collapse;
   }

      .panel .body .properties .order-list2 table tr {
      }

      .panel .body .properties .order-list2 table .clickable {
      }


         .panel .body .properties .order-list2 table .clickable .btn {
            font-size: 15px;
         }

.order-list2 td, .order-list2 th {
   color: var(--textSub1);
   text-align: left;
   white-space: nowrap;
   padding-right: 30px;
   font-size: 15px;
}

.order-list2 th {
   padding: 5px;
}

.order-list2 td {
   border: 1px solid var(--gray3);
   padding: 2px 5px;
}

.panel .body .properties .order-list2 table tr td {
}

.panel .body .properties .order-list2 table tr:hover td {
   background-color: var(--gray2);
   cursor: pointer;
   color: white;
}

.panel .body .properties .order-list2 table tr th {
   background-color: var(--gray3);
   color: var(--textMain);
   position: sticky;
   top: 0;
}

.order-list2 td:last-child, .order-list2 th:last-child {
   width: 100%;
}

.panel .body .properties .scheduling {
   display: flex;
}

   .panel .body .properties .scheduling .schedule {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      gap: 50px;
      align-items: center;
   }

      .panel .body .properties .scheduling .schedule .months {
         width: 100%;
         display: flex;
         align-content: flex-start;
         gap: 10px;
         flex-wrap: wrap;
         justify-content: center;
      }

         .panel .body .properties .scheduling .schedule .months .month {
            width: 20%;
            min-width: 210px;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            background-color: var(--gray2);
            flex-grow: 1;
         }

         .panel .body .properties .scheduling .schedule .months .month-inactive {
            border: 1px solid var(--gray2);
         }

         .panel .body .properties .scheduling .schedule .months .month-active {
            border: 1px solid var(--mainTheme);
         }

         .panel .body .properties .scheduling .schedule .months .month-inactive:hover {
            background-color: var(--gray3);
            border: 1px solid var(--gray4);
         }

         .panel .body .properties .scheduling .schedule .months .month-active:hover {
            background-color: var(--gray3);
         }

         .panel .body .properties .scheduling .schedule .months .month .title {
            font-weight: bold;
            border-bottom: 1px solid var(--gray4);
            padding: 5px;
            font-size: 17px;
         }

         .panel .body .properties .scheduling .schedule .months .month .info {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 5px;
            color: var(--textMain);
            flex-grow: 1;
         }

            .panel .body .properties .scheduling .schedule .months .month .info .order {
               padding: 3px 5px;
               font-size: 13px;
               border-radius: 5px;
               min-height: 14px;
               display: flex;
               align-items: center;
            }

            .panel .body .properties .scheduling .schedule .months .month .info .gray {
               background-color: var(--gray1);
               flex-grow: 1;
            }

            .panel .body .properties .scheduling .schedule .months .month .info .live {
               background-color: var(--mainTheme);
            }

         .panel .body .properties .scheduling .schedule .months .month .stats {
            padding: 5px;
            color: var(--textSub2);
         }

      .panel .body .properties .scheduling .schedule .days {
         display: flex;
         gap: 5px;
         flex-wrap: wrap;
         display: flex;
         justify-content: center;
         padding: 10px;
      }

         .panel .body .properties .scheduling .schedule .days .day {
            min-width: 37px;
            min-height: 37px;
            max-width: 5vw;
            max-height: 5vw;
            height: 5vw;
            width: 5vw;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--gray2);
            flex-grow: 1;
            color: var(--textMain);
         }

            .panel .body .properties .scheduling .schedule .days .day:hover {
               background-color: var(--gray4);
               cursor: pointer;
            }




.modal {
   display: flex;
   flex-direction: column;
   width: 450px;
   padding: 1.3rem;
   min-height: 250px;
   position: absolute;
   background-color: var(--gray1);
   z-index: 2;
   color: var(--textMain);
   gap: 30px;
   top: 30vh;
   position: fixed;
   border: 1px solid var(--gray4);
}

   .modal .one {
      display: flex;
      justify-content: flex-end;
   }

   .modal .two {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
   }

      .modal .two .title {
         font-size: 22px;
         font-weight: bold;
      }

      .modal .two .info {
         text-align: center;
         font-size: 18px;
      }

   .modal .three {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

      .modal .three .btn {
         padding: 10px 50px;
         font-size: 15px;
      }

.btn-close {
   top: 10px;
   text-align: center;
   padding: 3px 8px;
   border-radius: 50%;
   font-size: 20px;
}

.overlay {
   background: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(3px);
   justify-content: center;
   align-items: center;
   position: fixed;
   display: flex;
   height: 100%;
   width: 100%;
   z-index: 1;
   bottom: 0;
   right: 0;
   left: 0;
   top: 0;
}

.people-component {
   width: 900px;
   min-width: 200px;
   max-width: 95%;
   bottom: 15%;
   top: 15%;
   max-height: 800px;
   position: fixed;
   background-color: var(--gray1);
   display: flex;
   flex-direction: row;
   border: 1px solid var(--gray4);
   z-index: 2;
   color: var(--textMain);
}

   .people-component .people-container {
      border-right: 1px solid var(--gray4);
      flex-direction: column;
      padding: 20px;
      display: flex;
      width: fit-content;
      min-width: 240px;
      gap: 10px;
      border-collapse: collapse;
   }

      .people-component .people-container .btns-container {
         display: flex;
      }

         .people-component .people-container .btns-container .btns {
            display: flex;
            width: 100%;
            border-collapse: collapse;
         }

            .people-component .people-container .btns-container .btns .btn {
               padding: 5px;
               flex-grow: 1;
               background-color: var(--gray1);
               border-bottom: 1px solid var(--gray4);
               font-size: 17px;
            }

               .people-component .people-container .btns-container .btns .btn.selected {
                  background-color: var(--gray3);
                  border-bottom: 1px solid var(--textSub2);
               }


      .people-component .people-container .search {
         display: flex;
      }

         .people-component .people-container .search input {
            font-size: 15px;
            height: 30px;
            width: 100%;
         }

      .people-component .people-container .item-container {
         flex-direction: column;
         scrollbar-width: none;
         overflow: scroll;
         font-size: 15px;
         display: flex;
         flex-grow: 1;
         height: 50%;
      }

      .people-component .people-container .item {
         border-bottom: 1px solid var(--gray3);
         justify-content: space-between;
         align-items: center;
         user-select: none;
         font-size: 15px;
         padding: 0 5px;
         display: flex;
         color: var(--textMain);
      }

         .people-component .people-container .item .photo {
            justify-content: center;
            align-items: center;
            min-width: 40px;
            display: flex;
            height: 100%;
         }

            .people-component .people-container .item .photo .frame {
               background-color: var(--gray3);
               border: 1px solid var(--gray4);
               border-radius: 50%;
               min-height: 27px;
               min-width: 27px;
               height: 27px;
               width: 27px;
            }

         .people-component .people-container .item .info {
            justify-content: center;
            flex-direction: column;
            padding: 5px 10px;
            display: flex;
            flex-grow: 1;
            padding-right: 30px;
         }

         .people-component .people-container .item .selector {
            height: 100%;
            min-width: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
         }

            .people-component .people-container .item .selector img {
               height: 18px;
               width: 18px;
               filter: var(--svg);
            }

               .people-component .people-container .item .selector img:hover {
                  filter: var(--svgHover);
               }

               .people-component .people-container .item .selector img:active {
                  height: 20px;
                  width: 20px;
               }

         .people-component .people-container .item:hover {
            background-color: var(--gray3);
            border-bottom: 1px solid var(--gray4);
            cursor: pointer;
         }

         .people-component .people-container .item .sub {
            color: var(--textSub1);
            display: flex;
            gap: 5px;
         }

      .people-component .people-container .item-container .selected {
         background-color: var(--gray2);
         color: var(--green1);
         border-bottom: 1px solid var(--gray4);
      }

      .people-component .people-container .groups {
         height: 50%;
         font-size: 15px;
      }

   .people-component .details {
      padding: 20px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      scrollbar-width: none;
   }

      .people-component .details .top {
         display: flex;
         height: 250px;
      }

         .people-component .details .top .btn-container {
            margin-top: 20px;
            display: flex;
         }

            .people-component .details .top .btn-container .btn {
               font-size: 17px;
               display: flex;
               padding: 5px 10px;
            }

         .people-component .details .top .info-container {
            display: none;
            flex-direction: column;
            font-size: 18px;
            overflow: hidden;
         }

            .people-component .details .top .info-container .title {
               font-size: 30px;
               padding-bottom: 10px;
               font-weight: bold;
            }

            .people-component .details .top .info-container .info {
               display: flex;
               gap: 6px;
               padding-left: 10px;
            }

               .people-component .details .top .info-container .info .one {
                  color: var(--textSub1);
               }

               .people-component .details .top .info-container .info .two {
                  color: var(--textMain);
               }

      .people-component .details .bottom {
         display: flex;
         flex-direction: column;
         flex-grow: 1;
         gap: 10px;
         justify-content: space-between;
      }

         .people-component .details .bottom .list-container {
            flex-grow: 1;
            border: 1px solid var(--gray4);
            background-color: var(--black);
         }

            .people-component .details .bottom .list-container .list {
               display: flex;
               padding: 5px;
               gap: 2px;
               flex-wrap: wrap;
            }

         .people-component .details .bottom .btn-container {
            display: flex;
         }

            .people-component .details .bottom .btn-container .btn {
               font-size: 17px;
               display: flex;
               padding: 5px 10px;
            }

.drop-main {
   background-color: var(--gray3);
   color: var(--textMain);
   border-color: var(--gray4);
   padding: 3px;
}

.account-links {
   margin-bottom: 50px;
}

   .account-links ul {
      display: flex;
      flex-direction: row;
      list-style: none;
   }

      .account-links ul li {
         display: flex;
      }

         .account-links ul li a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--textMain);
            justify-content: center;
            border-bottom: 1px solid var(--gray4);
            margin-right: 2px;
            user-select: none;
            padding: 2px 10px;
         }

            .account-links ul li a:hover {
               border-bottom: 1px solid white;
               background-color: var(--gray3);
            }

            .account-links ul li a:active {
               background-color: var(--gray4);
            }

.main-banner {
   display: flex;
   height: 80vh;
   width: 100%;
}

   .main-banner .banner-container {
      width: 100%;
      display: flex;
      gap: 2%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
   }

      .main-banner .banner-container .left {
         display: flex;
         padding: 25px 50px;
         flex-direction: column;
         gap: 35px;
         background: linear-gradient(var(--gray3), var(--gray1));
         flex-grow: 1;
         border-right: 1px solid;
         border-left: 1px solid;
         border-image: linear-gradient(180deg, var(--gray5), var(--gray1)) 1;
      }

         .main-banner .banner-container .left .info {
            display: flex;
            flex-direction: column;
            color: var(--textMain);
            text-align: center;
         }

            .main-banner .banner-container .left .info p {
               font-size: 45px;
               font-weight: bold;
               user-select: none;
               border-bottom: 1px solid var(--gray5);
               padding-bottom: 30px;
            }

         .main-banner .banner-container .left .text-container {
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: column;
         }

            .main-banner .banner-container .left .text-container .text {
               color: var(--textSub2);
               font-size: 30px;
               width: 400px;
               text-align: center;
            }

            .main-banner .banner-container .left .text-container .btn-container {
               display: flex;
               flex-grow: 1;
               gap: 10px;
               padding-top: 30px;
               justify-content: center;
               width: 100%;
               align-items: center;
            }

               .main-banner .banner-container .left .text-container .btn-container .btn {
                  padding: 7px 20px;
                  width: 100%;
                  font-size: 20px;
                  width: fit-content;
                  color: var(--textSub1);
                  background-color: var(--gray1);
                  border-radius: 5px;
               }

      .main-banner .banner-container .right {
         display: flex;
         align-items: center;
         flex-grow: 5;
         flex-direction: column;
         gap: 30px;
      }

         .main-banner .banner-container .right .title {
            border-bottom: 1px solid var(--gray5);
            padding: 20px 0;
            width: 100%;
            color: var(--textMain);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            font-weight: bold;
         }

         .main-banner .banner-container .right .menu-grid {
            display: flex;
            gap: 1.5vw;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
         }

            .main-banner .banner-container .right .menu-grid .menu-btn {
               background: linear-gradient(var(--gray3), var(--gray1));
               border-radius: 20px 20px 0 0;
               justify-content: flex-start;
               flex-direction: column;
               text-decoration: none;
               align-items: center;
               position: relative;
               cursor: pointer;
               height: 250px;
               display: flex;
               width: 200px;
            }

               .main-banner .banner-container .right .menu-grid .menu-btn::before {
                  background: linear-gradient(180deg, var(--gray5), var(--gray1));
                  border-radius: inherit;
                  pointer-events: none;
                  position: absolute;
                  bottom: -1px;
                  content: '';
                  z-index: -2;
                  right: -1px;
                  left: -1px;
                  top: -1px;
               }

               .main-banner .banner-container .right .menu-grid .menu-btn:hover::before {
                  background: linear-gradient(180deg, var(--gray4), var(--gray1));
                  border-radius: inherit;
               }

               .main-banner .banner-container .right .menu-grid .menu-btn:hover {
                  transform: scale(105%);
                  transition: all ease-in-out 0.1s;
               }

               .main-banner .banner-container .right .menu-grid .menu-btn .img-container {
                  display: flex;
                  width: 100%;
                  justify-content: center;
                  padding: 30px 0;
               }

                  .main-banner .banner-container .right .menu-grid .menu-btn .img-container img {
                     filter: var(--svgHover);
                     height: 70px;
                  }

               .main-banner .banner-container .right .menu-grid .menu-btn .text-container {
                  text-align: center;
                  font-size: 30px;
                  color: var(--textMain);
                  font-weight: 500;
                  user-select: none;
               }

.identity-container {
   width: 100%;
   color: white;
   flex-direction: column;
}

   .identity-container .top {
   }

   .identity-container .content {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: 100%;
      width: 100%;
      font-size: 15px;
      gap: 10px;
   }

      .identity-container .content form {
         display: flex;
         flex-direction: column;
         gap: 10px;
      }

      .identity-container .content input {
         display: flex;
         flex-direction: column;
         height: 25px;
         width: 300px;
      }

      .identity-container button {
         color: lightblue;
      }

.login-container {
   flex-direction: column;
   align-items: center;
   display: flex;
   width: 300px;
   gap: 20px;
}

   .login-container .title {
      font-size: 40px;
      font-weight: bold;
   }

   .login-container form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 20px;
   }

      .login-container form .field {
         display: flex;
         flex-direction: column;
         width: 100%;
      }

         .login-container form .field .label {
            color: var(--textSub1);
         }

         .login-container form .field input {
            height: 25px;
         }

      .login-container form .login-remember {
         width: 100%;
         color: var(--textSub1);
      }

      .login-container form .login-btns {
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 100%;
      }

         .login-container form .login-btns .btn {
            padding: 8px 30px;
         }

      .login-container form .login-links {
         flex-direction: column;
         align-items: center;
         display: flex;
         width: 100%;
         gap: 10px;
      }

         .login-container form .login-links a {
            text-decoration: none;
            color: var(--textSub1);
         }

            .login-container form .login-links a:hover {
               color: var(--textMain);
            }

.pagination-container {
   justify-content: flex-start;
   flex-direction: column;
   padding-bottom: 5px;
   display: flex;
}

.pagination {
   color: var(--textSub2);
   display: flex;
   gap: 5px;
}

   .pagination .btn {
      padding: 5px 10px;
      font-weight: bold;
   }

.category-container {
   scroll-behavior: smooth;
   flex-direction: column;
   scrollbar-width: thin;
   overflow-y: scroll;
   max-height: 75vh;
   display: flex;
   gap: 5px;
}

   .category-container .category {
      background: linear-gradient(to bottom, var(--gray1), var(--gray2));
      border-top: 1px solid var(--gray4);
      flex-direction: column;
      padding: 5px 15px;
      list-style: none;
      display: flex;
      border-left: 2px solid var(--gray5);
   }

      .category-container .category .category-title {
         justify-content: space-between;
         display: flex;
      }

         .category-container .category .category-title p {
            color: var(--textMain);
            font-weight: bold;
            font-size: 16px;
         }

         .category-container .category .category-title .btn-container {
            align-content: flex-start;
            justify-content: flex-end;
            flex-direction: row;
            column-gap: 10px;
            flex-wrap: wrap;
            display: flex;
            row-gap: 2px;
         }

         .category-container .category .category-title .btn {
            font-size: 14px;
            padding: 5px;
            display: flex;
            justify-self: flex-end;
            height: fit-content;
         }

      .category-container .category img {
         height: 15px;
         width: 15px;
         filter: var(--svg);
      }

      .category-container .category img:hover {
         filter: var(--svgHover);
      }

      .category-container .category .skill-list {
         padding-top: 5px;
         padding-left: 20px;
      }

         .category-container .category .skill-list .skill {
            list-style: none;
         }

            .category-container .category .skill-list .skill a {
               color: var(--textSub1);
               font-size: 15px;
               text-decoration: none;
            }

               .category-container .category .skill-list .skill a:hover {
                  color: var(--textMain);
               }

.image-upload-row {
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   gap: 10px;
   background-color: var(--gray2);
   padding: 5px;
   border: 1px solid var(--gray4);
}

   .image-upload-row .description-row {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
   }

      .image-upload-row .description-row .desc-content {
         display: flex;
         flex-grow: 1;
      }

/*-------------------------------*/

.switch input {
   display: none;
}

.switch {
   display: inline-block;
   width: 40px; /*=w*/
   height: 20px; /*=h*/
   margin: 4px;
   position: relative;
}

.slider {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   border-radius: 30px;
   box-shadow: 0 0 0 1.5px var(--white);
   cursor: pointer;
   border: 4px solid transparent;
   overflow: hidden;
   transition: 0.2s;
}

   .slider:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--white);
      border-radius: 30px;
      transform: translateX(-20px); /*translateX(-(w-h))*/
      transition: 0.2s;
   }

.theme-input:checked + .slider:before {
   transform: translateX(20px); /*translateX(w-h)*/
}

.theme-input:checked + .slider {
}

.lesson-pill {
   background-color: var(--black);
   display: flex;
   height: 100%;
   justify-content: space-between;
   min-width: 0;
}
   .lesson-pill .left {
      display: flex;
      flex-direction: column;
      padding: 5px;
      padding-left: 10px;
      min-width: 0;
   }
   .lesson-pill .lesson-title {
      font-weight: bold;
   }
   .lesson-pill .lesson-subtitle {
      color: var(--textSub1);
   }
   .lesson-pill .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
   }

.multi-select-wrapper {
   position: relative;
   display: flex;
   flex-direction: column;
}

   .multi-select-wrapper .btn {
      background-color: var(--gray3);
      border: 1px solid var(--gray5);
      padding: 1px 10px !important;
      font-size: 15px;
      border-bottom: none;
      width: fit-content;
   }

   .multi-select-wrapper .btn:hover {
      background-color: var(--gray4);
      border-color: var(--gray5);
   }

.object-component {
   position: absolute;
   border: 1px solid var(--gray5);
   display: flex;
   height: fit-content;
   z-index: 10;
   flex-direction: column;
   background-color: var(--gray3);
   padding: 5px;
   gap: 5px;
}

      .object-component input {
         background-color: var(--black);
         border: 1px solid var(--gray5);
         padding: 3px;
         color: var(--textMain);
      }

   .object-component .multi-select-comp {
      max-height: 500px;
      scrollbar-width: thin;
      scrollbar-color: var(--gray5) var(--gray2);
      scroll-behavior: smooth;
      background-color: var(--black);
      color: var(--textSub1);
   }

   .object-component .multi-select-comp option {
      padding: 2px 5px;
      user-select: none;
   }

      .object-component .multi-select-comp option:hover {
         background: linear-gradient(45deg, var(--purple1), var(--purple2)) !important;
         color: var(--textMain)
      }

      .object-component .multi-select-comp option:checked {
         background: linear-gradient(40deg, var(--purple3), var(--purple2));
      }

      .object-component .multi-select-comp option:active {
         background: linear-gradient(45deg, var(--purple3), var(--purple2)) !important;
         text-decoration: underline;
      }

.overdue {
   display: flex;
   align-items: center;
   padding-right: 10px;
   font-weight: bold;
   gap: 10px;
   font-size: 20px;
   filter: invert(50%) grayscale(100%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(500%);
}

   .overdue img {
      width: 25px;
      height: 25px;
   }