* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 100%;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray1);
    color: var(--textMain);
}

.maintitle {
    margin-top: 100px;
    color: var(--textMain);
    font-size: 50px;
}

.maintitle2 {
    margin-top: 10px;
    color: var(--textMain);
    font-size: 40px;
}

button {
    background: none;
    border: none;
}

.hidden {
    display: none;
}

.pill {
    list-style: none;
    background-color: var(--mainTheme);
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 20px;
    margin: 2px;
    height: fit-content;
}