* {
	padding: 0;
	margin: 0;
}

html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	min-width: 100%;
	padding: 0;
	margin: 0;
	scrollbar-width: none;
}

body {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--gray1);
}

.maintitle {
	margin-top: 100px;
	color: var(--textMain);
	font-size: 50px;
}

.maintitle2 {
	margin-top: 10px;
	color: var(--textMain);
	font-size: 40px;
}

button {
	background: none;
	border: none;
}

.hidden {
	display: none;
}

.black-pill {
	border: 1px solid var(--gray3);
	padding: 2px 5px;
	font-size: 13px;
	background-color: var(--black);
	user-select: none;
}

.pill {
	display: flex;
	align-items: center;
	list-style: none;
	cursor: pointer;
	padding: 2px 6px;
	border-radius: 3px;
	height: fit-content;
	user-select: none;
	font-weight: 500;
	font-size: 15px;
	text-decoration: none;
}

pre {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	white-space: pre-wrap;
}

.flex-column {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

::-webkit-datetime-edit {
	height: 30px;
	display: flex;
	align-items: center;
	border-right: 1px solid var(--gray4);
}

::-webkit-datetime-edit-fields-wrapper {

	
}

::-webkit-datetime-edit-text {

}

::-webkit-inner-spin-button {

}

::-webkit-calendar-picker-indicator {
	filter: invert(70%);
}

.access {
	color: var(--textMain);
}

.login-container {
	color: var(--textMain);
}

img {
	user-select: none;
}

.search-box {
	height: 30px;
	padding: 5px;
	color: var(--textMain);
	background-color: var(--gray1);
	border: 1px solid var(--gray5);
}

@media print {
	body * {
		visibility: hidden;
		margin: 0 !important;
		color: black !important;
	}

	#contentToPrint, #contentToPrint * {
		visibility: visible;
	}

	#contentToPrint {
		gap: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		left: 0;
		top: 0;
		align-self: center;
		justify-self: center;
	}

	.text-group {
		border: none !important;
		align-self: center;
		padding: 0 !important;
	}

	.title {
	}

	.info {
		font-weight: normal !important;
	}

	.pill {
		padding: 0 !important;
		font-weight: normal !important;
		border: none !important;
	}

		.pill:after {
			content: ", ";
		}

	.print-block {
		width: 100%;
		height: 100%;
	}

		.print-block .title {
			font-weight: 500 !important;
		}

	header, footer {
		display: none !important;
	}

	.title-row {
		margin-top: 30px !important;
		background-color: var(--gray3);
		padding: 3px !important;
		border-bottom: 1px solid black;
	}

		.title-row .title {
			font-size: 16px;
		}
}

